
section#contact article fieldset#contact-form {
	display: block;
	margin: 0px;
	padding: 0px;
	border: 0px solid transparent;
}

section#contact article fieldset#contact-form input,
section#contact article fieldset#contact-form select,
section#contact article fieldset#contact-form textarea {
	display: block;
	box-sizing: border-box;
	min-width: 160px;
	width: 66%;
	margin: 16px auto 0px auto;
	font-family: 'museo-sans-300';
	font-size: 16px;
	font-weight: normal;
	color: #ffffff;
	background: #404040;
	border: 1px solid #ffffff;
	border-radius: 4px;
	appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-webkit-appearance: none;
	user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	outline: none;
}

section#contact article fieldset#contact-form input:hover,
section#contact article fieldset#contact-form select:hover,
section#contact article fieldset#contact-form textarea:hover,
section#contact article fieldset#contact-form input:focus,
section#contact article fieldset#contact-form select:focus,
section#contact article fieldset#contact-form textarea:focus {
	animation: glowing-input 1s ease-in-out infinite;
	outline: none;
}

section#contact article fieldset#contact-form input:focus,
section#contact article fieldset#contact-form select:focus,
section#contact article fieldset#contact-form textarea:focus {
	color: #ffffff;
}

section#contact article fieldset#contact-form input:focus:hover,
section#contact article fieldset#contact-form select:focus:hover,
section#contact article fieldset#contact-form textarea:focus:hover {
	color: #0f99cb;
}

@keyframes glowing-input {
	0%   { border-color: #ffffff; }
	50%  { border-color: #0f99cb; }
	100% { border-color: #ffffff; }
}

section#contact article fieldset#contact-form input {
	padding: 0px 8px;
	height: 32px;
	transition: 250ms all ease-out;
	cursor: text;
}

section#contact article fieldset#contact-form input[name="captcha"].incorrect {
	color: #cb0f99;
	border-color: #cb0f99;
	transition: 250ms all ease-out;
}

section#contact article fieldset#contact-form button {
	display: inline-block;
	width: 108px;
	height: 32px;
	margin: 0px;
	padding: 0px 8px;
	color: #ffffff;
	font-family: 'museo-sans-300';
	font-size: 16px;
	background: #404040;
	border: 1px solid #ffffff;
	border-radius: 4px;
	cursor: pointer;
}

section#contact article fieldset#contact-form button[class^="icon-"]:before,
section#contact article fieldset#contact-form button[class*="icon-"]:before {
	margin-right: 0.75em;
}

@keyframes glowing-button {
	0%   { color: #ffffff; border-color: #ffffff; }
	50%  { color: #0f99cb; border-color: #0f99cb; }
	100% { color: #ffffff; border-color: #ffffff; }
}


section#contact article fieldset#contact-form button:hover,
section#contact article fieldset#contact-form button:focus,
section#contact article fieldset#contact-form button:active {
	color: #0f99cb;
	border-color: #0f99cb;
	animation: glowing-button 1s ease-in-out infinite;
	outline: none;
}

section#contact article fieldset#contact-form select[disabled],
section#contact article fieldset#contact-form select[disabled]:hover,
section#contact article fieldset#contact-form select[disabled]:focus,
section#contact article fieldset#contact-form select[disabled]:active,
section#contact article fieldset#contact-form input[disabled],
section#contact article fieldset#contact-form input[disabled]:hover,
section#contact article fieldset#contact-form input[disabled]:focus,
section#contact article fieldset#contact-form input[disabled]:active,
section#contact article fieldset#contact-form textarea[disabled],
section#contact article fieldset#contact-form textarea[disabled]:hover,
section#contact article fieldset#contact-form textarea[disabled]:focus,
section#contact article fieldset#contact-form textarea[disabled]:active,
section#contact article fieldset#contact-form button[disabled],
section#contact article fieldset#contact-form button[disabled]:hover,
section#contact article fieldset#contact-form button[disabled]:focus,
section#contact article fieldset#contact-form button[disabled]:active {
	color: #888888;
	border-color: #888888;
	background: #222222;
	animation: none;
	outline: none;
	cursor: not-allowed;
}

section#contact article fieldset#contact-form select {
	margin-top: 0px;
	padding: 0px 8px;
	height: 32px;
	cursor: pointer;
}

section#contact article fieldset#contact-form select option {
	display: block;
	color: #ffffff;
	height: 32px;
}

section#contact article fieldset#contact-form textarea {
	padding: 8px;
	height: 10em;
	cursor: text;
}



section#contact article div#contact-captcha {
	display: block;
	box-sizing: border-box;
	min-width: 160px;
	width: 66%;
	height: 64px;
	margin: 64px auto 16px auto;
	padding: 0px;
	user-select: none;
}

section#contact article div#contact-captcha-avatar {
	display: inline-block;
	width: 64px;
	height: 64px;
	margin: 0px 16px 0px 0px;
	padding: 0px;
	line-height: 64px;
	border: 0px solid transparent;
	background-color: transparent;
	background-image: url('/design/contact/captcha-robot.svg');
	background-position: center center;
	background-repeat: no-repeat;
	vertical-align: top;
	cursor: not-allowed;
}

section#contact article div#contact-captcha-avatar.human {
	background-image: url('/design/contact/captcha-human.svg');
	cursor: default;
}

section#contact article div#contact-captcha-question {
	display: inline-block;
	width: calc(100% - 64px - 16px - 10px);
	height: 64px;
	margin: 0px;
	padding: 8px 0px;
	line-height: 16px;
	font-family: 'museo-sans-300';
	font-size: 16px;
	font-weight: normal;
	color: #ffffff;
	text-align: justify;
	vertical-align: top;
}



section#contact article div#contact-form-message {
	display: block;
	min-width: 160px;
	width: 66%;
	margin: 32px auto 0px auto;
	text-align: center;
	transition: 250ms opacity ease-out;
	opacity: 0;
	user-select: none;
}

section#contact article div#contact-form-message.visible {
	transition: 250ms opacity ease-out;
	opacity: 1;
}

section#contact article div#contact-form-submit {
	display: block;
	min-width: 160px;
	width: 66%;
	margin: 32px auto 0px auto;
	text-align: right;
}



@media print {

	section#contact {
		display: none !important;
		page-break-after: unset;
	}

}



@media screen and (max-width: 740px) {

	section#contact article fieldset#contact-form input,
	section#contact article fieldset#contact-form select,
	section#contact article fieldset#contact-form textarea {
		width: 100%;
	}

	section#contact article div#contact-captcha {
		width: 100%;
	}

	section#contact article div#contact-form-message {
		width: 100%;
	}

	section#contact article div#contact-form-submit {
		width: 100%;
	}

}

