
section#search article fieldset#search-form {
	display: block;
	margin: 0px;
	padding: 0px;
	border: 0px solid transparent;
}

section#search article div#search-form-avatar {
	display: inline-block;
	width: 128px;
	height: 128px;
	margin: 0px 32px 0px 0px;
	padding: 0px;
	background-color: transparent;
	background-image: url('/design/search/nothing.svg');
	background-position: center center;
	background-repeat: no-repeat;
	vertical-align: top;
}

section#search article div#search-form-avatar.hardware                          { background-image: url('/design/search/hardware.svg'); }
section#search article div#search-form-avatar.software                          { background-image: url('/design/search/software.svg'); }
section#search article div#search-form-avatar.research                          { background-image: url('/design/search/research.svg'); }
section#search article div#search-form-avatar.legacy                            { background-image: url('/design/search/legacy.svg'); }
section#search article div#search-form-avatar.hardware-software                 { background-image: url('/design/search/hardware-software.svg'); }
section#search article div#search-form-avatar.hardware-research                 { background-image: url('/design/search/hardware-research.svg'); }
section#search article div#search-form-avatar.hardware-legacy                   { background-image: url('/design/search/hardware-legacy.svg'); }
section#search article div#search-form-avatar.software-research                 { background-image: url('/design/search/software-research.svg'); }
section#search article div#search-form-avatar.software-legacy                   { background-image: url('/design/search/software-legacy.svg'); }
section#search article div#search-form-avatar.research-legacy                   { background-image: url('/design/search/research-legacy.svg'); }
section#search article div#search-form-avatar.hardware-software-research        { background-image: url('/design/search/hardware-software-research.svg'); }
section#search article div#search-form-avatar.hardware-software-legacy          { background-image: url('/design/search/hardware-software-legacy.svg'); }
section#search article div#search-form-avatar.hardware-research-legacy          { background-image: url('/design/search/hardware-research-legacy.svg'); }
section#search article div#search-form-avatar.software-research-legacy          { background-image: url('/design/search/software-research-legacy.svg'); }
section#search article div#search-form-avatar.hardware-software-research-legacy { background-image: url('/design/search/hardware-software-research-legacy.svg'); }

section#search article fieldset#search-form ul {
	display: inline-block;
	width: calc(100% - 128px - 32px - 6px);
	height: 128px;
	margin: 0px;
	padding: 0px;
	vertical-align: top;
	list-style: none;
}

section#search article fieldset#search-form ul li {
	display: inline-block;
	margin: 0px;
	padding: 0px;
	width: calc(50% - 4px);
	font-family: 'museo-sans-300';
	font-size: 24px;
	line-height: 64px;
}

section#search article fieldset#search-form ul li input {
	display: inline-block;
	width: 48px;
	height: 48px;
	margin-right: 16px;
	border: 0px solid transparent;
	border-radius: 0px;
	background-color: transparent;
	background-repeat: no-repeat;
	appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-webkit-appearance: none;
	cursor: pointer;
	user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}


section#search article fieldset#search-form ul li input[name="hardware"] { background-image: url('/design/search/hardware.svg'); }
section#search article fieldset#search-form ul li input[name="software"] { background-image: url('/design/search/software.svg'); }
section#search article fieldset#search-form ul li input[name="research"] { background-image: url('/design/search/research.svg'); }
section#search article fieldset#search-form ul li input[name="legacy"]   { background-image: url('/design/search/legacy.svg'); }

section#search article fieldset#search-form ul li input[type="checkbox"]:hover,
section#search article fieldset#search-form ul li input[type="checkbox"]:focus,
section#search article fieldset#search-form ul li input[type="checkbox"]:active {
	background-color: transparent;
	animation: none;
	outline: none;
}

section#search article fieldset#search-form ul li input[type="checkbox"]:hover:before,
section#search article fieldset#search-form ul li input[type="checkbox"]:focus:before,
section#search article fieldset#search-form ul li input[type="checkbox"]:active:before {
	background-color: transparent;
	animation: animate-checkbox 1s ease-in-out infinite;
}

@keyframes animate-checkbox {
	0%   { opacity: 0; }
	50%  { opacity: 1; }
	100% { opacity: 0; }
}

section#search article fieldset#search-form ul li input[type="checkbox"]:before {
	display: block;
	content: '';
	width: 100%;
	height: 100%;
	background: url('/design/search/disabled.svg');
	opacity: 0;
}

section#search article fieldset#search-form ul li input[type="checkbox"]:not(:checked):before {
	opacity: 1;
}

section#search article fieldset#search-form ul li input,
section#search article fieldset#search-form ul li label {
	display: inline-block;
	vertical-align: middle;
}

section#search article fieldset#search-form ul li label {
	cursor: pointer;
	user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}



@media print {

	section#search {
		display: none !important;
		page-break-after: unset;
	}

}



@media screen and (max-width: 620px) {

	section#search article fieldset#search-form {
		text-align: center;
	}

	section#search article fieldset#search-form ul {
		width: auto;
		line-height: 128px;
		text-align: center;
	}

	section#search article fieldset#search-form ul li {
		width: auto;
		line-height: 128px;
	}

	section#search article fieldset#search-form ul li label {
		display: none;
	}

}



@media screen and (max-width: 530px) {

	section#search article div#search-form-avatar {
		display: block;
		margin: 0px auto;
	}

	section#search article fieldset#search-form ul {
		display: block;
	}

}

