
section.article article {
	display: block;
	width: 66.66%;
	margin: 32px auto;
	padding: 0px;
	background: transparent;
	border-radius: 0px;
}

section.article article section {
	display: block;
	margin: 32px 0px 0px 0px;
	background: #252530;
	padding: 0px;
	border-radius: 16px;
}

section.article article section:first-of-type p:first-child {
	padding-top: 16px;
}

section.article article h2 {
	display: block;
	margin: 0px;
	padding: 16px;
	font-family: 'museo-sans-300';
	font-size: 32px;
	font-weight: 300;
	text-align: left;
	vertical-align: middle;
	border: 0px solid transparent;
	border-bottom: 1px solid #ffffff;
	word-break: break-word;
}

section.article article h3 {
	display: block;
	margin: 64px 16px 16px 16px;
	padding: 0px;
	font-family: 'museo-sans-300';
	font-size: 24px;
	font-weight: 300;
	text-align: left;
	border: 0px solid transparent;
	border-bottom: 1px solid #ffffff;
	vertical-align: middle;
	word-break: break-word;
}

section.article article h3 + p {
	margin-top: 32px;
}

section.article article p {
	margin: 16px;
}

section.article article p:last-child {
	padding-bottom: 16px;
}

section.article article table {
	display: table;
	table-layout: fixed;
	width: 100%;
}

section.article article table thead tr th {
	font-family: 'museo-sans-500';
	font-size: 18px;
	font-weight: 500;
	margin: 0px;
	padding: 8px 16px;
}

section.article article table thead tr:last-of-type th {
	border-bottom: 1px solid #ffffff;
}

section.article article table tbody tr td {
	margin: 0px;
	padding: 8px 16px;
}

section.article article table tbody tr:nth-child(even) td {
	background: rgba(255,255,255,0.05);
}

section.article article table tr th[align="center"],
section.article article table tr td[align="center"] {
	text-align: center;
}

section.article article table tr th[align="left"],
section.article article table tr td[align="left"] {
	text-align: left;
}

section.article article table tr th[align="right"],
section.article article table tr td[align="right"] {
	text-align: right;
}

section.article article table tr th[align="justify"],
section.article article table tr td[align="justify"] {
	text-align: justify;
}

section.article article table tfoot tr td {
	font-family: 'museo-sans-500';
	font-size: 18px;
	font-weight: 500;
	margin: 0px;
	padding: 8px 16px;
}

section.article article table tfoot tr:first-of-type td {
	border-top: 1px solid #ffffff;
}

section.article article ul,
section.article article ol {
	display: block;
	margin: 32px 16px 16px 16px;
	padding: 0px 0px 0px 16px;
}

section.article article ul li,
section.article article ol li {
	margin: 0px 0px 8px 0px;
	text-align: left;
}

section.article article ul li:last-of-type,
section.article article ol li:last-of-type {
	padding-bottom: 16px;
}

section.article article img {
	display: block;
	position: relative;
	width: 100%;
	margin: 32px 0px;
	padding: 0px;
}

section.article article section img:first-of-type {
	margin-top: 0px;
}

section.article article section:first-of-type img:first-of-type {
	border-radius: 16px 16px 0px 0px;
}



@page {
	size: A4 portrait;
	margin: 1cm 1cm 0cm 1cm;
}



@media print {

	section.article h1 {
		display: block;
		position: static;
		width: 100vw;
		height: 100vh;
		margin: 0px;
		padding: 0px;
		font-size: 64px;
		line-height: 64px;
		text-align: center;
		vertical-align: middle;
		page-break-before: unset;
		page-break-after: always;
		box-sizing: border-box;
		transform: translate(0%, calc(50% - 64px));
	}

	section.article article {
		display: block;
		position: static;
		width: auto;
		margin: 0px;
		padding: 0px;
		text-align: left;
		background: transparent;
		border-radius: 0px;
		break-before: auto;
	}

	section.article article section {
		display: block;
		margin: 0px;
		padding: 0px;
		background: transparent;
		border-radius: 0px;
		page-break-before: unset;
		page-break-after: always;
	}

	section.article article img {
		width: 100%;
		margin: 32px 0px;
	}

	section.article article section:first-of-type img {
		width: 100%;
		margin: 32px 0px;
		border-top-left-radius: 0px;
		border-top-right-radius: 0px;
	}

	footer {
		display: block !important;
		position: fixed;
		top: auto;
		right: 0px;
		bottom: 0px;
		left: 0px;
		margin: 0px;
		padding: 0px;
		text-align: right;
	}

	footer p:nth-of-type(1) {
		display: none !important;
	}

	footer p:nth-of-type(2) {
		display: block !important;
	}

}



@media screen and (max-width: 740px) {

	section.article article {
		width: auto;
		margin: 32px 0px;
		border-radius: 0px;
	}

	section.article article section {
		padding: 16px;
		border-radius: 8px;
	}

	section.article article img {
		width: calc(100% + 32px);
		margin: 32px -16px 32px -16px;
	}

	section.article article section:first-of-type img {
		margin: -16px -16px 32px -16px;
		border-radius: 8px 8px 0px 0px;
	}

}

