
section#decrypter {
	max-width: 640px;
	margin: 0px auto;
}

section#decrypter input[type="text"],
section#decrypter input[type="password"] {
	display: block;
	width: 512px;
	margin: 16px auto;
	text-align: left;
}

section#decrypter footer {
	height: 50px;
}
