
#article article h2 {
	margin: 64px 0px 32px 0px;
}

#article article h3 {
	margin: 64px 0px 32px 0px;
}

#article article img {
	display: block;
	position: relative;
	width: calc(100% + 64px);
	margin: 32px -32px 32px -32px;
	padding: 0px;
}

#article article p {
	margin: 1em 0px 0px 0px;
}

#article article {
	width: 66.66%;
}



@media screen and (max-width: 740px) {

	#article article {
		width: auto;
	}

	#article article img {
		width: 100%;
		margin: 32px 0px;
	}

}



@media print {

	#article article img {
		display: block;
		width: 100%;
		margin: 32px 0px 32px 0px;
	}

}

