
#weblog {
	display: block;
	position: relative;
	padding: 64px 0px 64px 0px;
}

#weblog:before {
	display: block;
	position: absolute;
	content: '';
	width: 4px;
	top: calc(48px + 64px);
	right: calc(50% - 2px);
	bottom: 0px;
	left: calc(50% - 2px);
	background: #252530;
}

#weblog:after {
	display: block;
	position: absolute;
	content: '';
	width: 32px;
	height: 16px;
	top: auto;
	right: calc(50% - 16px);
	bottom: 0px;
	left: calc(50% - 16px);
	background: #252530;
	border-radius: 16px 16px 0px 0px;
}

#weblog figure {
	display: block;
	margin: 16px 0px 16px 0px;
	padding: 0px;
	text-align: center;
}

#weblog figure a {
	display: inline-block;
	margin: 4px;
	text-align: left;
	text-decoration: none;
	border: 1px solid transparent;
}

#weblog figure a:hover,
#weblog figure a:focus,
#weblog figure a:active {
	border: 1px solid #ffffff;
	animation: glowing-frame 1s ease-in-out infinite;
	outline: none;
}

@keyframes glowing-frame {
	0%   { border: 1px solid #ffffff; }
	50%  { border: 1px solid #0f99cb; }
	100% { border: 1px solid #ffffff; }
}

#weblog figure img {
	border: 0px solid transparent;
	vertical-align: top;
	outline: none;
}

#weblog article {
	display: block;
	position: relative;
	/* 50% - margin - padding - center */
	width: calc(50% - 32px - 64px - 32px);
	margin: 32px 16px 32px 16px;
}

#weblog article:nth-of-type(even) {
	margin-left: calc(50% + 32px + 16px);
}

#weblog article h3 {
	vertical-align: middle;
	line-height: 32px;
	white-space: nowrap;
	overflow: hidden;
}

#weblog article h3:before {
	display: inline-block;
	content: '';
	width: 32px;
	height: 32px;
	margin: 0px 16px 0px 0px;
	padding: 0px;
	background-position: center center;
	background-repeat: no-repeat;
	vertical-align: bottom;
	cursor: help;
}

#weblog article samp {
	display: block;
	position: absolute;
	top: 28px;
	right: -68px;
	bottom: auto;
	left: auto;
	width: 68px;
}

#weblog article samp:before {
	display: block;
	position: absolute;
	top: calc(18px);
	right: 0px;
	bottom: auto;
	left: 0px;
	content: "";
	width: calc(100%);
	height: 4px;
	background: #252530;
}

#weblog article samp:after {
	display: block;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: auto;
	left: auto;
	content: "";
	width: 40px;
	height: 40px;
	border-radius: 16px;
	border: 4px solid #252530;
	background: #252530;
	box-sizing: border-box;
}

#weblog article:nth-of-type(even) samp {
	left: -68px;
}

#weblog article:nth-of-type(even) samp:after {
	top: 0px;
	right: auto;
	bottom: auto;
	left: 0px;
}

#weblog article.hardware samp:after                          { background-image: url('../search/hardware.svg'); }
#weblog article.software samp:after                          { background-image: url('../search/software.svg'); }
#weblog article.research samp:after                          { background-image: url('../search/research.svg'); }
#weblog article.legacy samp:after                            { background-image: url('../search/legacy.svg'); }
#weblog article.hardware-software samp:after                 { background-image: url('../search/hardware-software.svg'); }
#weblog article.hardware-research samp:after                 { background-image: url('../search/hardware-research.svg'); }
#weblog article.hardware-legacy samp:after                   { background-image: url('../search/hardware-legacy.svg'); }
#weblog article.software-research samp:after                 { background-image: url('../search/software-research.svg'); }
#weblog article.software-legacy samp:after                   { background-image: url('../search/software-legacy.svg'); }
#weblog article.research-legacy samp:after                   { background-image: url('../search/research-legacy.svg'); }
#weblog article.hardware-software-research samp:after        { background-image: url('../search/hardware-software-research.svg'); }
#weblog article.hardware-software-legacy samp:after          { background-image: url('../search/hardware-software-legacy.svg'); }
#weblog article.hardware-research-legacy samp:after          { background-image: url('../search/hardware-research-legacy.svg'); }
#weblog article.software-research-legacy samp:after          { background-image: url('../search/software-research-legacy.svg'); }
#weblog article.hardware-software-research-legacy samp:after { background-image: url('../search/hardware-software-research-legacy.svg'); }

#weblog article.hardware h3:before                          { background-image: url('../search/hardware.svg'); }
#weblog article.software h3:before                          { background-image: url('../search/software.svg'); }
#weblog article.research h3:before                          { background-image: url('../search/research.svg'); }
#weblog article.legacy h3:before                            { background-image: url('../search/legacy.svg'); }
#weblog article.hardware-software h3:before                 { background-image: url('../search/hardware-software.svg'); }
#weblog article.hardware-research h3:before                 { background-image: url('../search/hardware-research.svg'); }
#weblog article.hardware-legacy h3:before                   { background-image: url('../search/hardware-legacy.svg'); }
#weblog article.software-research h3:before                 { background-image: url('../search/software-research.svg'); }
#weblog article.software-legacy h3:before                   { background-image: url('../search/software-legacy.svg'); }
#weblog article.research-legacy h3:before                   { background-image: url('../search/research-legacy.svg'); }
#weblog article.hardware-software-research h3:before        { background-image: url('../search/hardware-software-research.svg'); }
#weblog article.hardware-software-legacy h3:before          { background-image: url('../search/hardware-software-legacy.svg'); }
#weblog article.hardware-research-legacy h3:before          { background-image: url('../search/hardware-research-legacy.svg'); }
#weblog article.software-research-legacy h3:before          { background-image: url('../search/software-research-legacy.svg'); }
#weblog article.hardware-software-research-legacy h3:before { background-image: url('../search/hardware-software-research-legacy.svg'); }

#weblog article[data-result="true"] > div,
#weblog article[data-result="true"] > figure,
#weblog article[data-result="true"] > p {
	display: inherit;
}

#weblog article[data-result="false"] > div,
#weblog article[data-result="false"] > figure,
#weblog article[data-result="false"] > p {
	display: none;
}

#weblog article[data-result="false"] > h3 {
	margin: 0px;
	color: #ffffff;
	cursor: pointer;
}

#weblog article[data-result="false"] > h3:hover {
	margin: 0px;
	color: #ffffff;
	animation: glowing-header 1s ease-in-out infinite;
	cursor: pointer;
}

@keyframes glowing-header {
	0%   { color: #ffffff; }
	50%  { color: #0f99cb; }
	100% { color: #ffffff; }
}

#weblog article > ul {
	margin: 16px 0px 0px 0px;
	padding: 0px;
	text-align: left;
}

#weblog article > ul i {
	display: inline-block;
	width: 128px;
	margin: 0px 1em 0px 0px;
	padding: 0px;
}

#weblog article > ul li {
	display: block;
}



@media print {

	#weblog:before,
	#weblog:after {
		display: none;
	}

	#weblog article,
	#weblog article:nth-of-type(even) {
		display: block;
		position: static;
		width: 100%;
		margin: 0px;
		padding: 0px;
		page-break-after: always;
	}

	#weblog div a {
		display: block;
	}

	#weblog figure a:after {
		display: none;
	}

}



@media screen and (max-width: 740px) {

	#weblog:before,
	#weblog:after {
		display: none;
	}

	#weblog article,
	#weblog article:nth-of-type(even) {
		width: auto;
		margin: 32px 0px;
	}

	#weblog article samp {
		display: none;
	}

	#weblog figure img {
		width: auto;
		height: 96px;
	}

}

