
@import url("./avatar/Avatar.css");

article section#debugger {
	text-align: center;
}

body > div > main > article section#debugger ul {
	width: 500px;
	margin: 32px auto;
}

article section#speeches {
	display: block;
	overflow-x: auto;
	overflow-y: auto;
}

article section#speeches canvas {
	display: block;
	margin: 16px 0px 16px 0px;
}

article section#speeches canvas:first-of-type {
	margin-top: 0px;
}

article section#speeches canvas:last-of-type {
	margin-bottom: 0px;
}
