
@import url("./avatar/Avatar.css");

article section#debugger {
	text-align: center;
}

article section#debugger input {
	text-align: left;
}

body > div > main > article section#debugger ul {
	width: 550px;
	margin: 32px auto;
}

article section#phonemes {
	display: block;
	overflow-x: auto;
	overflow-y: auto;
}

article section#phonemes canvas {
	display: inline-block;
	margin: 16px 16px;
	cursor: crosshair;
}

