
@import url("./avatar/Avatar.css");
@import url("./game/Game.css");

@import url("./game/components/gui/Consent.css");
@import url("./game/components/gui/Dialog.css");

body[data-mode="game"] > div > main > figure#avatar {
	margin-left: 64px;
}

section#debugger > footer {
	height: 50px;
	margin: 32px 0px;
}

section#debugger > footer:last-of-type {
	margin-bottom: 0px;
}
