
#consent {
	display: block;
	position: fixed;
	width: 448px;
	top: auto;
	right: 0px;
	bottom: 0px;
	left: 0px;
	margin: 0px auto;
	padding: 8px;
	border: 1px solid #000000;
	color: #000000;
	background: #ffffff;
	border-radius: 8px 8px 0px 0px;
	box-sizing: border-box;
	transition: 250ms all ease-out;
	opacity: 1;
	z-index: 99;
}

#consent h3 {
	display: block;
	margin: 0px;
	padding: 0px;
	font-family: 'museo-sans-500';
	font-size: 24px;
	line-height: 32px;
	font-weight: 500;
	text-align: center;
}

#consent p {
	font-family: 'museo-sans-300';
	text-align: justify;
	margin: 8px 0px 16px 0px;
	padding: 0px;
}

#consent div {
	text-align: center;
}

#consent div button {
	margin: 0px 16px;
}

body.game #consent {
	opacity: 0;
}

body.game #consent h3,
body.game #consent p,
body.game #consent div,
body.game #consent div button {
	display: none;
}

body.game {
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: #000000;
	transition: all 250ms ease-out;
	cursor: url('./cursor.cur') 16 16, auto;
}

body.game header {
	display: none;
}

body.game section#about > h1 {
	display: none;
}

body.game section#about > article {
	display: none;
}

body.game section#about div#about-socialize {
	display: none;
}

body.game section#about figure#avatar figcaption {
	display: none;
}

body.game section#skills,
body.game section#prototypes,
body.game section#search,
body.game section#open-source,
body.game section#talks,
body.game section#contact,
body.game footer {
	display: none;
}



@media (max-width: 512px) {

	#consent {
		width: auto;
	}

}

