body {
	font-family:Helvetica, sans-serif;
}

.lib-abs {
	position:absolute;
}

.lib-shadow {
	box-shadow:inset 0px 0px 20px #000;
	-moz-box-shadow:inset 0px 0px 20px #000;
	-webkit-box-shadow:inset 0px 0px 20px #000;
}