
figure#avatar {
	display: block;
	position: relative;
	width: 640px;
	margin: 64px auto 64px auto;
}

figure#avatar > img {
	display: inline-block;
	position: relative;
	width: 256px;
	height: 256px;
	border-radius: 144px;
	border: 16px solid var(--article-background);
	vertical-align: middle;
	user-select: none;
	z-index: 10;
}

figure#avatar > canvas {
	display: inline-block;
	position: absolute;
	width: 256px;
	height: 256px;
	top: 16px;
	right: auto;
	bottom: auto;
	left: 16px;
	user-select: none;
	z-index: 11;
}

figure#avatar > figcaption {
	display: inline-block;
	position: relative;
	width: 320px;
	height: auto;
	top: 0px;
	right: auto;
	bottom: auto;
	left: 0px;
	margin: 0px;
	padding: 16px;
	font-family: "crumble";
	font-size: 0.8rem;
	font-style: normal;
	font-weight: normal;
	text-align: left;
	text-decoration: none;
	color: var(--article-color);
	background: var(--article-background);
	border-radius: 16px;
	box-sizing: border-box;
	transform: translate(16px, 32px);
}
