
@font-face {
	font-family: "crumble";
	src: url("./crumble-regular.woff2") format("woff2"), url("./crumble-regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "crumble";
	src: url("./crumble-bold.woff2") format("woff2"), url("./crumble-bold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "vera-mono";
	src: url("./vera-mono.woff2") format("woff2"), url("./vera-mono.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "icon";
	src: url("./icon-fontawesome.woff2") format("woff2"), url("./icon-fontawesome.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "OpenDyslexic";
	src: url("./opendyslexic-regular.woff2") format("woff2"), url("./opendyslexic-regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "OpenDyslexic";
	src: url("./opendyslexic-bold.woff2") format("woff2"), url("./opendyslexic-bold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "OpenDyslexic";
	src: url("./opendyslexic-bold-italic.woff2") format("woff2"), url("./opendyslexic-bold-italic.woff") format("woff");
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: "OpenDyslexic";
	src: url("./opendyslexic-italic.woff2") format("woff2"), url("./opendyslexic-italic.woff") format("woff");
	font-weight: normal;
	font-style: italic;
}

