@font-face {
	font-family: 'museo-sans-300';
	src: url('/design/layout/museo-sans-300.woff2') format('woff2'),
		 url('/design/layout/museo-sans-300.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'museo-sans-500';
	src: url('/design/layout/museo-sans-500.woff2') format('woff2'),
		 url('/design/layout/museo-sans-500.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'vera-mono';
	src: url('vera-mono.woff2') format('woff2'),
	     url('vera-mono.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}



html {
	width: 100%;
	height: 100%;
	overflow-x: auto;
	overflow-y: auto;
	-ms-scrollbar-track-color: #252530;
	-ms-scrollbar-arrow-color: #ffffff;
	-ms-scrollbar-face-color: #ffffff;
}

html::-webkit-scrollbar {
	border: 0px solid transparent;
	border-left: 1px solid #404040;
	background: #252530;
}

html::-webkit-scrollbar-thumb {
	background: #ffffff;
}

html::-webkit-scrollbar-thumb:hover {
	background: #0f99cb;
}

body {
	margin: 0px;
	padding: 0px;
	color: #ffffff;
	background: #404040;
}

::selection {
	color: #ffffff;
	background: #0f99cb;
}

::-moz-selection {
	color: #ffffff;
	background: #0f99cb;
}

main {
	display: block;
	position: fixed;
	margin: 0px;
	padding: 0px 16px;
	width: auto;
	height: 100%;
	top: 0px;
	right: 50%;
	bottom: 0px;
	left: 0px;
	background: #252530;
	box-sizing: border-box;
	overflow-x: hidden;
	overflow-y: hidden;
}

main header {
	display: block;
	margin: 16px 0px;
}

main header select {
	display: block;
	box-sizing: border-box;
	min-width: 160px;
	width: 100%;
	height: 32px;
	margin: 0px 0px 16px 0px;
	padding: 0px 8px;
	font-family: 'vera-mono';
	font-size: 20px;
	font-weight: normal;
	color: #ffffff;
	background: #404040;
	border: 1px solid #ffffff;
	border-radius: 4px;
	appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-webkit-appearance: none;
	user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	outline: none;
	cursor: pointer;
}

main header select:hover,
main header select:focus {
	background: #808080;
}

main header fieldset {
	display: flex;
	border: 0px;
	padding: 0px;
	margin: 0px;
}

main header fieldset div {
	display: flex;
	flex: 1;
	align-items: center;
}

main header fieldset div:nth-child(1) {
	display: flex;
	justify-content: flex-start;
}

main header fieldset div:nth-child(2) {
	display: flex;
	justify-content: center;
}

main header fieldset div:nth-child(3) {
	display: flex;
	justify-content: flex-end;
}

main header fieldset div button {
	display: inline-block;
	width: 32px;
	height: 32px;
	margin: 0px 2px;
	padding: 0px;
	color: #ffffff;
	background: #404040;
	border: 1px solid #ffffff;
	border-radius: 4px;
	cursor: pointer;
}

main header fieldset div button[disabled],
main header fieldset div button[disabled]:hover,
main header fieldset div button[disabled]:focus {
	color: #808080;
	border-color: #808080;
	background: #303030;
	cursor: not-allowed;
}

main header fieldset div button:hover,
main header fieldset div button:focus {
	background: #808080;
}

main header fieldset div button:first-child {
	margin-left: 0px;
}

main header fieldset div button:last-child {
	margin-right: 0px;
}

main textarea {
	display: block;
	box-sizing: border-box;
	width: 100%;
	height: calc(100% - 80px - 32px - 16px);
	margin: 0px;
	padding: 8px 8px;
	font-family: 'vera-mono';
	font-size: 20px;
	font-weight: normal;
	color: #ffffff;
	background: #404040;
	border: 1px solid #ffffff;
	border-radius: 4px;
	appearance: none;
	-ms-appearance: none;
	-webkit-appearance: none;
	user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	outline: none;
	cursor: text;
}

main textarea {
	-ms-scrollbar-track-color: #252530;
	-ms-scrollbar-arrow-color: #ffffff;
	-ms-scrollbar-face-color: #ffffff;
}

main textarea::-webkit-scrollbar {
	border: 0px solid transparent;
	border-left: 1px solid #404040;
	background: #252530;
}

main textarea::-webkit-scrollbar-thumb {
	background: #ffffff;
}

main textarea::-webkit-scrollbar-thumb:hover {
	background: #0f99cb;
}

main select:focus,
main textarea:focus {
	color: #ffffff;
	animation: none;
}

main select[disabled],
main select[disabled]:hover,
main select[disabled]:focus,
main select[disabled]:active,
main textarea[disabled],
main textarea[disabled]:hover,
main textarea[disabled]:focus,
main textarea[disabled]:active {
	color: #888888;
	border-color: #888888;
	background: #222222;
	animation: none;
	outline: none;
	cursor: not-allowed;
}

main select option {
	display: block;
	color: #ffffff;
	height: 32px;
}

aside {
	display: block;
	position: fixed;
	margin: 0px;
	padding: 0px;
	width: auto;
	height: 100%;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 50%;
}

aside iframe {
	position: relative;
	width: 100%;
	height: 100%;
	border: none;
}
