
body[data-layout="article"] > div > main > article div#downloads {
	display: block;
	margin: 0px 16px 32px 16px;
	padding: 0px;
	line-height: 2rem;
	font-family: "crumble";
	font-size: 1.25rem;
	font-style: normal;
	font-weight: 300;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
}

body[data-layout="article"] > div > main > article figure {
	display: block;
	width: 100%;
	margin: 0px 0px 32px 0px;
	padding: 16px;
	color: var(--article-code-color);
	background: var(--article-code-background);
	text-align: center;
	overflow-y: auto;
	white-space: nowrap;
	box-sizing: border-box;
}

body[data-layout="article"] > div > main > article figure.gallery img {
	display: inline-block;
	width: 256px;
	height: 256px;
	margin: 0px 16px;
	padding: 0px;
	border-radius: unset;
	border: unset;
}

body[data-layout="article"] > div > main > article figure.teaser {
	padding: 0px;
}

body[data-layout="article"] > div > main > article figure.teaser img {
	display: block;
	width: 100%;
	height: auto;
	margin: 0px;
	padding: 0px;
	border-radius: unset;
	border: unset;
}

body[data-layout="article"] > div > main > article figure:last-child {
	margin-bottom: 0px;
}

