
body[data-layout="article"] > div > aside.visible:has(> ul.toc) {
	width: 320px;
}

body[data-layout="article"] > div > aside.visible:has(> ul.toc) + main {
	left: 320px;
}

body[data-layout="article"] > div > main > nav[aria-label="breadcrumbs"] {
	width: calc(100% - 64px);
	max-width: 1024px;
	margin: 32px auto;
	font-family: "crumble";
}

body[data-layout="article"] > div > main > nav[aria-label="breadcrumbs"] ol {
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
}

body[data-layout="article"] > div > main > nav[aria-label="breadcrumbs"] ol li + li:before {
	content: "›";
	margin: 0 0.5rem;
	color: #666;
}

body[data-layout="article"] > div > main > nav[aria-label="breadcrumbs"] a {
	color: var(--link-default-color);
	background: var(--link-default-background);
	text-decoration: none;
	transition: all 250ms ease-out;
}

body[data-layout="article"] > div > main > nav[aria-label="breadcrumbs"] a:hover,
body[data-layout="article"] > div > main > nav[aria-label="breadcrumbs"] a:focus {
	color: var(--link-active-color);
	background: var(--link-active-background);
	text-decoration: underline;
	transition: all 250ms ease-out;
}

body[data-layout="article"] > div > main > article {
	font-family: "crumble";
}

body[data-layout="article"] > div > main > article h2:has(+ p) {
	margin-bottom: 10px;
}

body[data-layout="article"] > div > main > article h2 + p {
	text-align: center;
	margin-bottom: 60px;
}

body[data-layout="article"] > div > main > article div#downloads,
body[data-layout="article"] > div > main > article div#repositories {
	display: block;
	margin: 0px 16px 32px 16px;
	padding: 0px;
	line-height: 2rem;
	font-family: "crumble";
	font-size: 1.25rem;
	font-style: normal;
	font-weight: 300;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
}

body[data-layout="article"] > div > main > article div#repositories:has(+ div#downloads) {
	margin-bottom: 0px;
}

body[data-layout="article"] > div > main > article figure {
	display: block;
	width: 100%;
	margin: 0px 0px 32px 0px;
	padding: 16px;
	color: var(--article-code-color);
	background: var(--article-code-background);
	text-align: center;
	overflow-y: auto;
	white-space: nowrap;
	box-sizing: border-box;
}

body[data-layout="article"] > div > main > article figure.gallery img {
	display: inline-block;
	width: 256px;
	height: 256px;
	margin: 0px 16px;
	padding: 0px;
	border-radius: unset;
	border: unset;
}

body[data-layout="article"] > div > main > article figure.teaser {
	padding: 0px;
}

body[data-layout="article"] > div > main > article figure.teaser img {
	display: block;
	width: 100%;
	height: auto;
	margin: 0px;
	padding: 0px;
	border-radius: unset;
	border: unset;
}

body[data-layout="article"] > div > main > article figure:last-child {
	margin-bottom: 0px;
}

body[data-layout="article"] > div > main > article pre.ascii {
	font-family: monospace;
}

body[data-layout="article"] > div > main > article table {
	display: table;
	margin: 16px;
	padding: 0px;
	border-spacing: 0px;
	box-sizing: border-box;
}

body[data-layout="article"] > div > main > article table thead tr th {
	display: table-cell;
	margin: 0px;
	padding: 4px 8px;
	font-family: "crumble";
	font-weight: bold;
	font-size: 1.0rem;
	font-style: normal;
	border-bottom: 1px solid #ffffff;
}

body[data-layout="article"] > div > main > article table tbody tr td {
	display: table-cell;
	margin: 0px;
	padding: 4px 8px;
}

body[data-layout="article"] > div > main > article table thead tr th,
body[data-layout="article"] > div > main > article table tbody tr:not(:last-of-type) td {
	border-bottom: 1px solid #ffffff;
}

body[data-layout="article"] > div > main > article table thead tr th:not(:first-of-type),
body[data-layout="article"] > div > main > article table tbody tr td:not(:first-of-type) {
	border-left: 1px solid #ffffff;
}

body[data-layout="article"] > div > main > article table thead tr th:nth-of-type(1),
body[data-layout="article"] > div > main > article table tbody tr td:nth-of-type(1) {
	white-space: nowrap;
}


/*
 * FIXES
 */

body[data-layout="article"] > div > main > article > section {
	overflow-x: auto;
	overflow-y: auto;
}

body[data-layout="article"] > div > main > article table {
	width: calc(100% - 32px);
	min-width: max-content;
	border-collapse: collapse;
}

