
button {
	display: inline-block;
	margin: 0px;
	padding: 4px 8px;
	color: var(--button-default-color);
	background: var(--button-default-background);
	font-family: "vera-mono";
	font-size: 1rem;
	font-style: normal;
	font-weight: normal;
	text-align: center;
	text-decoration: none;
	border: 1px solid var(--button-default-border);
	border-radius: 4px;
	box-sizing: border-box;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	outline: unset;
	transition: 250ms all ease-out;
	cursor: pointer;
}

button:hover,
button:focus {
	color: var(--button-focus-color);
	background: var(--button-focus-background);
	transition: 250ms all ease-out;
}

button.primary {
	color: var(--palette-primary-color);
	background: var(--palette-primary-background);
	cursor: pointer;
}

button.secondary {
	color: var(--palette-secondary-color);
	background: var(--palette-secondary-background);
	cursor: no-drop;
}

button[data-action]:before {
	display: inline-block;
	width: auto;
	line-height: inherit;
	margin: 0px 8px 0px 0px;
	padding: 0px;
	font-family: "icon";
	font-size: 1rem;
	font-style: normal;
	font-weight: normal;
	text-align: center;
	text-decoration: none;
	text-transform: none;
	font-smooth: antialiased;
	speak: never;
}

button[data-action]:empty:before {
	margin: 0px;
}

button[disabled],
button[disabled]:hover,
button[disabled]:focus,
button[data-action][disabled],
button[data-action][disabled]:hover,
button[data-action][disabled]:focus,
button.primary[disabled],
button.primary[disabled]:hover,
button.primary[disabled]:focus,
button.secondary[disabled],
button.secondary[disabled]:hover,
button.secondary[disabled]:focus {
	color: var(--button-disabled-color);
	background: var(--button-disabled-background);
	border: 1px solid var(--button-default-border);
	cursor: not-allowed;
}

