
label {
	font-family: inherit;
	font-size: 1rem;
	font-style: normal;
	font-weight: normal;
	text-align: center;
	text-decoration: none;
}

label[data-type]:before {
	display: inline-block;
	width: 1em;
	line-height: inherit;
	margin: 0px;
	padding: 0px 0.25em;
	font-family: "icon";
	font-size: 1rem;
	font-style: normal;
	font-weight: normal;
	text-align: center;
	text-decoration: none;
	text-transform: none;
	font-smooth: antialiased;
	speak: never;
}

