
figure#lightbox {
	display: block;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	margin: 0px;
	padding: 32px;
	background: rgba(0,0,0,0.0);
	text-align: center;
	transition: background 250ms ease-out;
	pointer-events: none;
	z-index: 30;
}

figure#lightbox img {
	display: inline-block;
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
	box-sizing: border-box;
	transition: opacity 250ms ease-out;
	opacity: 0;
}

figure#lightbox.visible {
	background: rgba(0,0,0,0.5);
	transition: background 250ms ease-out;
	pointer-events: all;
	z-index: 30;
}

figure#lightbox.visible img {
	opacity: 1;
}
