
select {
	display: inline-block;
	margin: 0px;
	padding: 4px 8px;
	color: var(--input-default-color);
	background: var(--input-default-background);
	font-family: "vera-mono";
	font-size: 1rem;
	font-style: normal;
	font-weight: normal;
	text-align: center;
	text-decoration: none;
	border: 1px solid var(--input-default-border);
	border-radius: 4px;
	box-sizing: border-box;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	outline: unset;
	transition: 250ms all ease-out;
	cursor: pointer;
}

select option {
	color: var(--input-default-color);
	background: var(--input-default-background);
	font-family: "vera-mono";
	font-size: 1rem;
	font-style: normal;
	font-weight: normal;
	text-align: left;
	text-decoration: none;
}

select option:not(:last-of-type) {
	border-bottom: 1px solid var(--input-default-border);
}

@supports (appearance: base-select) {
	/* TODO: base-select CSS once other Browsers have confirmed proposal */
}
