
#about-me {
	display: block;
	position: relative;
	padding: 0px;
}

#about-me-socialize {
	display: block;
	position: relative;
	height: 32px;
	text-align: center;
	margin-top: -32px;
	margin-left: 208px;
	z-index: 20;
}

#about-me-socialize a[class^="icon-"] {
	display: inline-block;
	font-size: 0.1px;
	width: 36px;
	height: 32px;
	line-height: 32px;
	margin: 0px 8px 0px 0px;
	vertical-align: middle;
}

#about-me-socialize a[class^="icon-"]:last-of-type {
	margin: 0px;
}

#about-me-socialize a[class^="icon-"],
#about-me-socialize a[class^="icon-"]:hover,
#about-me-socialize a[class^="icon-"]:focus,
#about-me-socialize a[class^="icon-"]:active {
	color: transparent;
	text-decoration: none;
	animation: none;
}

#about-me-socialize a[class^="icon-"]:before {
	color: #ffffff;
	font-size: 32px;
	line-height: 32px;
	vertical-align: top;
}

#about-me-socialize a[class^="icon-"]:hover:before,
#about-me-socialize a[class^="icon-"]:focus:before,
#about-me-socialize a[class^="icon-"]:active:before {
	animation: glowing-link 1s ease-in-out infinite;
}

#about-me h1 {
	margin-top: 160px;
}



@media print {

	#about-me {
		page-break-after: always;
	}

	#about-me h1 {
		margin: 0px 0px 1em 0px;
		page-break-before: always;
	}

	#about-me figure#avatar {
		margin-top: 11em;
	}

	#about-me-socialize {
		position: static;
		height: auto;
		margin: 11em 0px 0px 0px;
	}

	#about-me-socialize b._copy_paste_ {
		display: block !important;
		position: static !important;
		top: auto !important;
		right: auto !important;
		bottom: auto !important;
		left: auto !important;
		width: auto !important;
		height: auto !important;
		line-height: 48px !important;
		margin: 0px 0px 1em 0px;
		padding: 0px;
		font-color: #000000 !important;
		font-family: 'museo-sans-500' !important;
		font-size: 40px !important;
		font-weight: 500;
		text-align: center;
	}

	#about-me-socialize a[class^="icon-"] {
		display: block;
		width: auto;
		height: auto;
		color: #0f99cb;
		font-size: 16px;
	}

	#about-me-socialize a[class^="icon-"]:before {
		display: inline-block;
		width: 48px;
		color: #000000;
	}

	#about-me-socialize a[class^="icon-"]:after {
		display: inline;
		content: "(" attr(href) ")";
		color: #0f99cb;
		margin: 0px 0.25em 0px 0.25em;
	}

	#about-me-socialize a:after {
		display: none;
	}

	#about-me article:nth-of-type(2) {
		margin-top: 2em;
	}

}



@media screen and (max-width: 654px) {

	#about-me-socialize {
		position: static;
		width: auto;
		margin: 32px 0px 0px 0px;
		text-align: center;
	}

}

