
#about-me {
	display: block;
	position: relative;
	padding: 0px;
}

#about-me div {
	display: block;
	position: absolute;
	height: 32px;
	bottom: 8px;
	left: 288px;
	z-index: 20;
}

#about-me div a[class^="icon-"] {
	display: inline-block;
	font-size: 0.1px;
	width: 36px;
	height: 32px;
	line-height: 32px;
	margin: 0px 8px 0px 0px;
}

#about-me div a[class^="icon-"]:last-of-type {
	margin: 0px;
}

#about-me div a[class^="icon-"],
#about-me div a[class^="icon-"]:hover,
#about-me div a[class^="icon-"]:focus,
#about-me div a[class^="icon-"]:active {
	color: transparent;
	text-decoration: none;
	animation: none;
}

#about-me div a[class^="icon-"]:before {
	color: #ffffff;
	font-size: 32px;
}

#about-me div a[class^="icon-"]:hover:before,
#about-me div a[class^="icon-"]:focus:before,
#about-me div a[class^="icon-"]:active:before {
	animation: glowing-link 1s ease-in-out infinite;
}

#about-me h1:first-of-type {
	margin-top: 160px;
}



@media print {

	#about-me {
		page-break-after: always;
	}

	#about-me div a[class^="icon-"]:before {
		color: #000000;
	}

	#about-me div a:after {
		display: none;
	}

	#about-me h1:first-of-type {
		margin: 1em;
	}

}



@media screen and (max-width: 654px) {

	#about-me div {
		position: static;
		width: auto;
		top: auto;
		right: auto;
		bottom: auto;
		left: auto;
		text-align: center;
	}

}

