
* > span._copy_paste_,
* > span._copy_paste_ > * {
	display: inline-block !important;
	position: fixed !important;
	top: 0px !important;
	left: 0px !important;
	width: 1px !important;
	height: 1px !important;
	font-size: 0.1px !important;
	font-color: transparent !important;
	line-height: 0.1px !important;
	vertical-align: top !important;
	speak: none !important;
	overflow: hidden !important;
	z-index: -1 !important;
}

