@font-face {
	font-family: 'fontello';
	src: url('fontello.eot');
	src: url('fontello.eot#iefix') format('embedded-opentype'),
	     url('fontello.woff2') format('woff2'),
	     url('fontello.woff') format('woff'),
	     url('fontello.ttf') format('truetype'),
	     url('fontello.svg#fontello') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
	display: inline;
	width: 1em;
	margin-right: 0.25em;
	line-height: 1em;
	font-family: 'fontello';
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	text-align: center;
	text-decoration: inherit;
	text-transform: none;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-download:before  { content: '\e800'; }
.icon-website:before   { content: '\e801'; }
.icon-section:before   { content: '\e802'; }
.icon-linkedin:before  { content: '\f0e1'; }
.icon-github:before    { content: '\f113'; }
.icon-submit:before    { content: '\f135'; }
.icon-instagram:before { content: '\f16d'; }
.icon-medium:before    { content: '\f23a'; }
.icon-reddit:before    { content: '\f281'; }
.icon-gitlab:before    { content: '\f296'; }

