
@import url("./components/layout/aside.css");
@import url("./components/layout/header.css");
@import url("./components/layout/footer.css");
@import url("./components/layout/main.css");

@import url("./components/ui/button.css");
@import url("./components/ui/checkbox.css");
@import url("./components/ui/input.css");
@import url("./components/ui/label.css");
@import url("./components/ui/range.css");
@import url("./components/ui/select.css");
@import url("./components/ui/textarea.css");

@import url("./layouts/article.css");
@import url("./layouts/index.css");
@import url("./webfonts/index.css");

@import url("./layout.css");
@import url("./theme.css");
@import url("./scrollbar.css");

::selection {
	color: #ffffff;
	background: #0f99cb;
}

body[data-mode="editor-preview"] > header {
	display: none;
}

body[data-mode="editor-preview"] > div {
	top: 0px;
	height: calc(100vh - 30px);
	bottom: 30px;
}

body[data-mode="editor-preview"] > div > aside {
	display: none;
}

