
@font-face {
	font-family: 'museo-sans-300';
	src: url('museo-sans-300.woff2') format('woff2'),
		 url('museo-sans-300.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'museo-sans-500';
	src: url('museo-sans-500.woff2') format('woff2'),
		 url('museo-sans-500.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}



html {
	width: 100%;
	height: 100%;
	overflow-x: auto;
	overflow-y: scroll;
	-ms-scrollbar-track-color: #252530;
	-ms-scrollbar-arrow-color: #ffffff;
	-ms-scrollbar-face-color: #ffffff;
}

html::-webkit-scrollbar {
	border: 0px solid transparent;
	border-left: 1px solid #404040;
	background: #252530;
}

html::-webkit-scrollbar-thumb {
	background: #ffffff;
}

html::-webkit-scrollbar-thumb:hover {
	background: #0f99cb;
}


body {
	margin: 0px;
	padding: 0px;
	color: #ffffff;
	background: #404040;
}

::selection {
	color: #ffffff;
	background: #0f99cb;
}

::-moz-selection {
	color: #ffffff;
	background: #0f99cb;
}

section {
	display: block;
	margin: 160px 0px 0px 0px;
	padding: 0px;
}

section h1 {
	display: block;
	margin: 0px;
	padding: 0px;
	font-family: 'museo-sans-500';
	font-size: 40px;
	line-height: 48px;
	font-weight: 500;
	text-align: center;
}

article,
section article {
	font-family: 'museo-sans-300';
	font-size: 16px;
	font-weight: normal;
}

section article {
	display: block;
	width: 608px;
	margin: 32px auto;
	padding: 32px;
	text-align: justify;
	text-justify: inter-word;
	word-break: break-word;
	word-wrap: break-word;
	word-spacing: normal;
	hyphens: auto;
	background: #252530;
	border-radius: 16px;
}

section article h2 {
	position: relative;
	margin: 0px 0px 16px 0px;
	padding: 0px;
	font-family: 'museo-sans-300';
	font-size: 32px;
	font-weight: 300;
	vertical-align: middle;
}

section article h3 {
	position: relative;
	margin: 0px 0px 16px 0px;
	padding: 0px;
	font-family: 'museo-sans-300';
	font-size: 32px;
	font-weight: 300;
	vertical-align: middle;
}

section article div a {
	margin: 0px 16px 0px 0px;
}

section article div a:last-of-type {
	margin: 0px;
}

section a {
	color: #0f99cb;
	text-decoration: none;
}

section a:hover,
section a:focus,
section a:active {
	color: #ffffff;
	text-decoration: underline;
	animation: glowing-link 1s ease-in-out infinite;
	border: 0px solid transparent;
	outline: none;
}

@keyframes glowing-link {
	0%   { color: #ffffff; }
	50%  { color: #0f99cb; }
	100% { color: #ffffff; }
}

section abbr {
	color: inherit;
	text-decoration: underline;
	cursor: help;
}

section article code {
	margin: 0px;
	padding: 0px 8px;
	color: #ffffff;
	background: #151515;
	font-family: 'museo-sans-300';
	font-weight: normal;
	border-radius: 4px;
}

section del {
	color: #252530;
	text-decoration: line-through;
	text-decoration-color: #ffffff;
}

section article del {
	color: #ffffff;
}

section article p {
	margin: 32px 0px 0px 0px;
	padding: 0px;
}

section article p:first-child {
	margin: 0px;
}

section article pre {
	display: block;
	position: relative;
	margin: 32px -32px 32px -32px;
	padding: 16px;
	color: #ffffff;
	background: #151515;
	font-family: monospace;
	font-weight: normal;
	font-style: normal;
	font-size: 16px;
	border-radius: 4px;
	overflow: auto;
}

footer {
	display: block;
	text-align: center;
	font-family: 'museo-sans-300';
	font-size: 16px;
	margin: 160px 0px 32px 0px;
	padding: 0px;
}



@page {
	size: A4 portrait;
	margin: 1cm;
}


@media print {

	* {
		-webkit-print-color-adjust: exact !important;
		color-adjust: exact !important;
	}

	body {
		color: #000000;
		background: transparent;
	}

	section {
		margin: 0px;
		page-break-after: always;
	}

	section h1 {
		margin: 0px 0px 1em 0px;
	}

	section article {
		display: block;
		position: static;
		width: auto;
		margin: 0px;
		padding: 0px;
		text-align: left;
		background: transparent;
		border-radius: 0px;
		break-before: auto;
	}

	section article h3 {
		margin: 1em 0px 0.5em 0px;
	}

	section a:after {
		display: inline;
		content: "(" attr(href) ")";
		color: #0f99cb;
		margin: 0px 0.25em 0px 0.25em;
	}

	section a[href^="/"]:after {
		content: "(https://cookie.engineer" attr(href) ")";
	}

	section a[href^="projects/"]:after {
		content: "(https://cookie.engineer/" attr(href) ")";
	}

	footer {
		margin: 3em 0px 0px 0px;
	}

}



@media screen and (max-width: 740px) {

	section article {
		width: auto;
		margin: 32px 0px;
		padding: 16px;
		border-radius: 4px;
	}

	section article pre {
		margin: 32px -16px 32px -16px;
	}

}

