
html, body {
	height: 100%;
	margin: 0px;
}

body {
	margin: 0px;
	padding: 0px;
	cursor: url("/design/cursor.cur") 16 16, auto;
}

body > header {
	position: fixed;
	top: 0px;
	right: 0px;
	bottom: auto;
	left: 0px;
	z-index: 20;
}

body > header > div:first-of-type {
	width: 256px;
	margin-left: 16px;
	text-align: left;
}

body > header > div:first-of-type:empty {
	width: 0px;
	margin-left: 0px;
}

body > div {
	display: block flow-root;
	position: absolute;
	width: 100vw;
	height: calc(100vh - 50px - 30px);
	top: 50px;
	right: 0px;
	bottom: 50px;
	left: 0px;
	overflow: hidden;
}

body > div > aside {
	position: absolute;
	width: 256px;
	height: auto;
	top: 0px;
	right: auto;
	bottom: 0px;
	left: 0px;
	overflow-y: auto;
}

body > div > main {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	transition: all 250ms ease-out;
	overflow-y: auto;
}

body > div > aside.visible + main {
	width: calc(100% - 256px);
	left: 256px;
	transition: all 250ms ease-out;
}

body > footer {
	position: fixed;
	top: auto;
	right: 0px;
	bottom: 0px;
	left: 0px;
	z-index: 20;
}

@media (max-width: 800px) {

	body > header > div:nth-of-type(2) {
		margin: 0px 16px 0px auto;
		text-align: right;
	}

	body > header > div:nth-of-type(2) > h1 {
		font-size: 1rem;
	}

	body > header > div:nth-of-type(3) {
		display: none;
	}

	body > div > aside {
		width: 100vw;
		z-index: 20;
	}

	body > div > aside > ul {
		width: 256px;
		margin: 0px auto;
	}

	body > div > aside.visible + main {
		width: 100%;
		left: 0px;
	}

}

@media (max-width: 600px) {

	body > header > div:nth-of-type(1) {
		width: calc(40px * 3 + 8px * 2);
	}

	body > header > div:nth-of-type(2) > h1 {
		font-size: 1rem;
		text-overflow: auto;
	}

	body > header > div:nth-of-type(3) {
		display: none;
	}

	body > div > main > figure#avatar {
		width: auto;
	}

	body > div > main > figure#avatar > figcaption {
		display: none;
	}

	body > div > main > article {
		width: calc(100% - 16px);
		margin: 8px auto;
	}

}

@media (max-width: 460px) {

	body > header > div:nth-of-type(2) {
		width: calc(100% - 140px - 16px - 8px * 3);
		overflow: hidden;
	}

	body > header > div:nth-of-type(2) > img {
		display: none;
	}

	body > header > div:nth-of-type(2) > h1 {
		display: inline-block;
		white-space: nowrap;
		animation: marquee 10s linear infinite;
	}

}

@keyframes marquee {
	0%   { transform: translate( 100%, 0%); }
	100% { transform: translate(-100%, 0%); }
}
