
header {
	display: block;
	position: fixed;
	top: 0px;
	right: 0px;
	bottom: auto;
	left: 0px;
	text-align: center;
	z-index: 99;
	user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

aside#menu {
	display: inline-block;
	width: auto;
	margin: 0px;
	padding: 0px;
	background: #252530;
	text-align: center;
	border-radius: 0px 0px 4px 4px;
	transform: translate(0%, -100%);
	transition: 250ms transform ease-out;
	pointer-events: none;
}

aside#menu.visible {
	transform: translate(0%, 0%);
	transition: 250ms transform ease-out;
	pointer-events: all;
}

aside#menu a {
	display: inline-block;
	width: 100px;
	margin: 0px;
	padding: 0px 4px;
	height: 32px;
	line-height: 32px;
	color: #ffffff;
	background: transparent;
	font-family: 'museo-sans-300';
	font-size: 16px;
	text-align: center;
	text-decoration: none;
	border-radius: 4px;
	transition: 250ms background ease-out;
}

aside#menu a.active,
aside#menu a:hover,
aside#menu a:focus {
	background: #0f99cb;
	transition: 250ms background ease-out;
	outline: none;
}

aside#menu button {
	display: none;
	position: relative;
	width: 48px;
	height: 48px;
	color: #ffffff;
	background-color: transparent;
	border: 0px solid transparent;
	border-radius: 4px;
	appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-webkit-appearance: none;
	outline: none;
	cursor: pointer;
	user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

aside#menu i {
	display: inline-block;
	position: relative;
	width: 32px;
	height: 32px;
	line-height: 48px;
	vertical-align: middle;
}

aside#menu button:after,
aside#menu button i:before,
aside#menu button i:after {
	display: block;
	position: absolute;
	content: '';
	width: 32px;
	height: 4px;
	background: #ffffff;
}

aside#menu button:after {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

aside#menu button i:before {
	top: 0px;
}

aside#menu button i:after {
	bottom: 0px;
}




@media print {

	aside#menu {
		display: none;
	}

}



@media screen and (max-width: 740px) {

	aside#menu {
		width: 100%;
		text-align: left;
	}

	aside#menu a {
		width: auto;
		padding: 0px 8px;
	}

}



@media screen and (max-width: 530px) {

	header {
		bottom: 0px;
		text-align: left;
		pointer-events: none;
	}

	aside#menu {
		width: 48px;
		height: 48px;
		border-radius: 0px 0px 8px 0px;
		text-align: center;
		transition: 250ms all ease-out;
	}

	aside#menu a {
		display: block;
		width: 100%;
		height: 0px;
		margin: 0px;
		padding: 0px;
		transition: 0ms all ease-out;
		overflow: hidden;
	}

	aside#menu.open {
		width: 100%;
		height: 100%;
		border-radius: 0px;
		transition: 250ms all ease-out;
	}

	aside#menu.open a {
		height: 32px;
		padding: 16px;
		transition: 250ms 250ms all ease-out;
	}

	aside#menu button {
		display: block;
	}

}

