
#prototypes h3 {
	display: inline-block;
	margin: 0px;
	padding: 0px;
	width: calc(50% - 5px);
	font-family: 'museo-sans-300';
	font-size: 32px;
	font-weight: 300;
	line-height: 48px;
	vertical-align: middle;
}

#prototypes progress {
	display: inline-block;
	position: relative;
	margin: 0px;
	padding: 0px;
	width: calc(50%);
	height: 32px;
	line-height: 48px;
	background: #444;
	border: 0px solid transparent;
	border-radius: 16px;
	vertical-align: middle;
	user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	z-index: 1;
}

#prototypes progress:before {
	display: inline-block;
	position: absolute;
	width: 100%;
	height: 32px;
	line-height: 32px;
	top: 0%;
	left: 0%;
	content: attr(data-label);
	color: #fff;
	font-family: 'museo-sans-300';
	font-size: 16px;
	font-weight: normal;
	text-align: center;
}

#prototypes progress::-moz-progress-bar {
	background: #0f99cb;
	border-radius: 16px;
}

#prototypes progress::-webkit-progress-bar {
	background: #444;
	border-radius: 16px;
}

#prototypes progress::-webkit-progress-value {
	background: #0f99cb;
	border-radius: 16px;
}

#prototypes progress[value="-20"]::-webkit-progress-value {
	margin: 0px 0px 0px -10%;
	width: 20% !important;
	background: #cb0f99;
}

#prototypes progress[value="-20"]::-moz-progress-bar {
	margin: 0px 0px 0px -10%;
	width: 20% !important;
	background: #cb0f99;
}



@media print {

	#prototypes h1 {
		display: block;
		position: static;
		width: 100vw;
		height: 100vh;
		margin: 0px;
		padding: 0px;
		font-size: 64px;
		line-height: 100vh;
		text-align: center;
		vertical-align: middle;
		page-break-before: always;
		page-break-after: always;
	}

	#prototypes article:nth-of-type(1) {
		display: none;
	}

	#prototypes article:nth-of-type(2),
	#prototypes article:nth-of-type(3) {
		display: block;
		position: static;
		width: 100%;
		height: 50vh;
		margin: 0px;
		padding: 0px;
	}

	#prototypes div a {
		display: block;
	}

}



@media screen and (max-width: 640px) {

	#prototypes h3 {
		display: block;
		width: 100%;
	}

	#prototypes progress {
		display: block;
		width: 100%;
		margin: 1em auto 1em auto;
	}

}

