
dialog#save {
	display: block;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	margin: 0px;
	padding: 0px;
	background: rgba(0, 0, 0, 0.0);
	transition: 250ms all ease-out;
	border: 0px solid transparent;
	pointer-events: none;
	user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	z-index: 1000;
}

dialog#save[open] {
	background: rgba(0, 0, 0, 0.5);
	transition: 250ms all ease-out;
	pointer-events: all;
	user-select: auto;
	-moz-user-select: auto;
	-ms-user-select: auto;
}

dialog#save article {
	display: block;
	position: fixed;
	top: 50%;
	right: auto;
	bottom: auto;
	left: 50%;
	max-width: 608px;
	margin: 0px;
	padding: 32px;
	color: #ffffff;
	font-family: 'museo-sans-300';
	font-size: 16px;
	font-weight: normal;
	text-align: justify;
	background: #252530;
	border-radius: 32px;
	border: 2px solid #ffffff;
	transform: translate(-50%, -50%);
	transition: 250ms all ease-out;
	opacity: 0;
}

dialog#save[open] article {
	transition: 250ms all ease-out;
	opacity: 1;
}

dialog#save h3 {
	display: block;
	position: relative;
	margin: 0px 0px 16px 0px;
	padding: 0px;
	font-family: 'museo-sans-300';
	font-size: 32px;
	font-weight: 300;
	vertical-align: middle;
}

button#save-close {
	display: block;
	position: absolute;
	top: -32px;
	right: -32px;
	bottom: auto;
	left: auto;
	width: 48px;
	height: 48px;
	margin: 0px;
	padding: 0px;
	color: #0f99cb;
	font-family: monospace;
	font-size: 16px;
	font-weight: bold;
	line-height: 16px;
	background: transparent;
	border: 0px solid transparent;
	border-radius: 0px;
	appearance: none;
	cursor: pointer;
}

button#save-close:hover,
button#save-close:focus,
button#save-close:active {
	color: #ffffff;
	animation: glowing-link 1s ease-in-out infinite;
	outline: none;
}

dialog#save a {
	color: #0f99cb;
	text-decoration: none;
}

dialog#save a:hover,
dialog#save a:focus,
dialog#save a:active {
	color: #ffffff;
	text-decoration: underline;
	animation: glowing-link 1s ease-in-out infinite;
	border: 0px solid transparent;
	outline: none;
}

@keyframes glowing-link {
	0%   { color: #ffffff; }
	50%  { color: #0f99cb; }
	100% { color: #ffffff; }
}


dialog#save * > span._copy_paste_ {
	display: none !important;
}

dialog#save[open] * > span._copy_paste_ {
	display: inline-block !important;
}


@media print {

	dialog#save,
	dialog#save[open] {
		display: none;
	}

}

