
:root {
	--scrollbar-size: 10px;
}

@supports (scrollbar-color: auto) and (not (-webkit-appearance: none)) {

	* {
		scrollbar-width: auto;
		scrollbar-color: var(--palette-1-color) transparent;
	}

}

*::-webkit-scrollbar {
	width: var(--scrollbar-size);
	height: var(--scrollbar-size);
}

*::-webkit-scrollbar-track {
	background: transparent;
	border-radius: 0px;
}

*::--webkit-scrollbar-track:hover {
	background: transparent;
}

*::-webkit-scrollbar-thumb {
	background-image: repeating-linear-gradient(
		45deg,
		var(--palette-1-color),
		var(--palette-2-color),
		var(--palette-3-color),
		var(--palette-4-color),
		var(--palette-5-color),
		var(--palette-6-color),
		var(--palette-7-color),
		var(--palette-8-color),
		var(--palette-9-color),
		var(--palette-10-color)
	);
	background-clip: padding-box;
	background-position: 0% 0%;
	background-size: 100% 100%;
	border-radius: 8px;
	border: 1px solid transparent;
	transition: all 250ms ease;
}

