
#talks {
	display: block;
	position: relative;
	padding: 64px 0px 64px 0px;
}

#talks:before {
	display: block;
	position: absolute;
	content: '';
	width: 4px;
	top: calc(48px + 64px);
	right: calc(50% - 2px);
	bottom: 0px;
	left: calc(50% - 2px);
	background: #252530;
}

#talks:after {
	display: block;
	position: absolute;
	content: '';
	width: 32px;
	height: 16px;
	top: auto;
	right: calc(50% - 16px);
	bottom: 0px;
	left: calc(50% - 16px);
	background: #252530;
	border-radius: 16px 16px 0px 0px;
}

#talks figure {
	display: block;
	margin: 16px 0px 16px 0px;
	padding: 0px;
	text-align: center;
}

#talks figure a {
	display: block;
	margin: 0px;
	text-align: left;
	text-decoration: none;
	border: 1px solid transparent;
}

#talks figure a:hover,
#talks figure a:focus,
#talks figure a:active {
	border: 1px solid #ffffff;
	animation: glowing-frame 1s ease-in-out infinite;
	outline: none;
}

@keyframes glowing-frame {
	0%   { border: 1px solid #ffffff; }
	50%  { border: 1px solid #0f99cb; }
	100% { border: 1px solid #ffffff; }
}

#talks figure img {
	display: block;
	width: 100%;
	height: auto;
	border: 0px solid transparent;
	vertical-align: top;
	outline: none;
}

#talks article {
	display: block;
	position: relative;
	/* 50% - margin - padding - center */
	width: calc(50% - 32px - 64px - 32px);
	margin: 32px 16px 32px 16px;
}

#talks article:nth-of-type(2n) {
	margin-left: calc(50% + 32px + 16px);
}

#talks article h3 {
	vertical-align: middle;
	line-height: 48px;
	white-space: nowrap;
}

#talks article h3:before {
	display: inline-block;
	position: absolute;
	content: '';
	width: 48px;
	height: 48px;
	top: 0px;
	right: -104px;
	bottom: auto;
	left: auto;
	margin: 0px;
	padding: 0px;
	background-position: center center;
	background-repeat: no-repeat;
	vertical-align: middle;
	cursor: help;
}

#talks article:nth-of-type(2n) h3:before {
	top: 0px;
	right: auto;
	bottom: auto;
	left: -104px;
}

#talks article.hardware h3:before                          { background-image: url('./search/hardware.svg'); }
#talks article.software h3:before                          { background-image: url('./search/software.svg'); }
#talks article.research h3:before                          { background-image: url('./search/research.svg'); }
#talks article.legacy h3:before                            { background-image: url('./search/legacy.svg'); }
#talks article.hardware-software h3:before                 { background-image: url('./search/hardware-software.svg'); }
#talks article.hardware-research h3:before                 { background-image: url('./search/hardware-research.svg'); }
#talks article.hardware-legacy h3:before                   { background-image: url('./search/hardware-legacy.svg'); }
#talks article.software-research h3:before                 { background-image: url('./search/software-research.svg'); }
#talks article.software-legacy h3:before                   { background-image: url('./search/software-legacy.svg'); }
#talks article.research-legacy h3:before                   { background-image: url('./search/research-legacy.svg'); }
#talks article.hardware-software-research h3:before        { background-image: url('./search/hardware-software-research.svg'); }
#talks article.hardware-software-legacy h3:before          { background-image: url('./search/hardware-software-legacy.svg'); }
#talks article.hardware-research-legacy h3:before          { background-image: url('./search/hardware-research-legacy.svg'); }
#talks article.software-research-legacy h3:before          { background-image: url('./search/software-research-legacy.svg'); }
#talks article.hardware-software-research-legacy h3:before { background-image: url('./search/hardware-software-research-legacy.svg'); }

#talks article[data-result="true"] > div,
#talks article[data-result="true"] > figure,
#talks article[data-result="true"] > p {
	display: inherit;
}

#talks article[data-result="false"] > div,
#talks article[data-result="false"] > figure,
#talks article[data-result="false"] > p {
	display: none;
}

#talks article[data-result="false"] > h3 {
	margin: 0px;
	color: #ffffff;
	cursor: pointer;
}

#talks article[data-result="false"] > h3:hover {
	margin: 0px;
	color: #ffffff;
	animation: glowing-header 1s ease-in-out infinite;
	cursor: pointer;
}

@keyframes glowing-header {
	0%   { color: #ffffff; }
	50%  { color: #0f99cb; }
	100% { color: #ffffff; }
}



@media print {

	#talks:before,
	#talks:after {
		display: none;
	}

	#talks article,
	#talks article:nth-of-type(2n) {
		display: block;
		position: static;
		width: 100%;
		margin: 0px;
		padding: 0px;
		page-break-after: always;
	}

	#talks article h3:before {
		position: static;
		top: auto;
		right: auto;
		bottom: auto;
		left: auto;
		margin: 0px 0.25em 0px 0px;
	}

	#talks div a {
		display: block;
	}

	#talks figure a:after {
		display: none;
	}

}



@media screen and (max-width: 740px) {

	#talks:before,
	#talks:after {
		display: none;
	}

	#talks article,
	#talks article:nth-of-type(2n) {
		width: auto;
		margin: 32px 0px;
	}

	#talks article h3:before,
	#talks article:nth-of-type(2n) h3:before {
		position: static;
		top: auto;
		right: auto;
		bottom: auto;
		left: auto;
		float: right;
	}

	#talks article h3:after {
		display: block;
		content: '';
		clear: both;
	}

}

