
:root[data-font="dyslexia"] {
	font-family: "OpenDyslexic", "dyslexia", system-ui, sans-serif !important;
}

:root[data-font="dyslexia"],
:root[data-font="dyslexia"][data-theme="dark"],
:root[data-font="dyslexia"][data-theme="light"] {
	font-size: 16px;
}

:root[data-font="dyslexia"] *:not(pre):not(span) {
	font-family: "OpenDyslexic", "dyslexia", system-ui, sans-serif !important;
}

/* font-family dependent fixes */
:root[data-font="dyslexia"] button[data-action]:before {
	font-size: 1.2rem;
	vertical-align: top;
}

:root[data-font="dyslexia"] body > div > aside {
	width: 320px;
}

:root[data-font="dyslexia"] body > div > aside.visible + main {
	width: calc(100% - 320px);
	left: 320px;
}



:root,
:root[data-theme="dark"] {

	font-size: 20px;

	--header-color: #ffffff;
	--header-background: #303040;

	--aside-color: #ffffff;
	--aside-background: #303040;

	--main-color: #ffffff;
	--main-background: #404050;

	--link-default-color: #0f99cb;
	--link-default-background: transparent;
	--link-active-color: #ffffff;
	--link-active-background: transparent;

	--article-color: #ffffff;
	--article-background: #3a3a4a;

	--article-del-color: #cb4040;
	--article-code-color: #ffffff;
	--article-code-background: #151515;

	--footer-color: #ffffff;
	--footer-background: #303040;

	--button-default-color: #ffffff;
	--button-default-background: #405060;
	--button-default-border: #203030;

	--button-focus-color: #ffffff;
	--button-focus-background: #506070;

	--button-disabled-color: #909090;
	--button-disabled-background: #304050;

	--input-default-color: #ffffff;
	--input-default-background: #405060;
	--input-default-border: #203030;

	--input-focus-color: #ffffff;
	--input-focus-background: #506070;

	--input-invalid-color: #ff4040;
	--input-invalid-background: #705050;

	--input-active-background: #55aaee;

	--input-disabled-color: #909090;
	--input-disabled-background: #304050;

	--palette-primary-color: #ffffff;
	--palette-primary-background: #55aaee;

	--palette-secondary-color: #ffffff;
	--palette-secondary-background: #e25252;
}

:root[data-theme="light"] {

	font-size: 20px;

	--header-color: #4a4a4a;
	--header-background: #f0f0f0;

	--aside-color: #4a4a4a;
	--aside-background: #f0f0f0;

	--main-color: #4a4a4a;
	--main-background: #f0f0f0;

	--link-default-color: #3a86c8;
	--link-default-background: transparent;
	--link-active-color: #245f92;
	--link-active-background: transparent;

	--article-color: #4a4a4a;
	--article-background: #ffffff;

	--article-del-color: #cb4040;
	--article-code-color: #2b2b2b;
	--article-code-background: #e0e0e0;

	--footer-color: #4a4a4a;
	--footer-background: #f0f0f0;

	--button-default-color: #ffffff;
	--button-default-background: #405060;
	--button-default-border: #203030;

	--button-focus-color: #ffffff;
	--button-focus-background: #506070;

	--button-disabled-color: #909090;
	--button-disabled-background: #304050;

	--input-default-color: #ffffff;
	--input-default-background: #405060;
	--input-default-border: #203030;

	--input-focus-color: #ffffff;
	--input-focus-background: #506070;

	--input-invalid-color: #ff4040;
	--input-invalid-background: #705050;

	--input-active-background: #55aaee;

	--input-disabled-color: #909090;
	--input-disabled-background: #304050;

	--palette-primary-color: #ffffff;
	--palette-primary-background: #3a86c8;

	--palette-secondary-color: #ffffff;
	--palette-secondary-background: #e06a6a;

}

:root {

	/* primary color rgb(85 170 238) */
	/* primary color hsl(207 81.8% 63.3%) */

	--palette-1-color:  rgb( 85,169,238);  /* hsl(207, 81.8, 63.3); */
	--palette-2-color:  rgb( 93, 85,238);  /* hsl(243, 81.8, 63.3); */
	--palette-3-color:  rgb(184, 85,238);  /* hsl(279, 81.8, 63.3); */
	--palette-4-color:  rgb(238, 85,200);  /* hsl(315, 81.8, 63.3); */
	--palette-5-color:  rgb(238, 85,108);  /* hsl(351, 81.8, 63.3); */
	--palette-6-color:  rgb(238, 85, 87);  /* hsl(387, 81.8, 63.3); */
	--palette-7-color:  rgb(230,238, 85);  /* hsl(63,  81.8, 63.3); */
	--palette-8-color:  rgb(138,238, 85);  /* hsl(99,  81.8, 63.3); */
	--palette-9-color:  rgb( 85,238,123);  /* hsl(135, 81.8, 63.3); */
	--palette-10-color: rgb( 85,238,215); /* hsl(171, 81.8, 63.3); */

	--palette-1-background:  rgba( 85,169,238,0.5);
	--palette-2-background:  rgba( 93, 85,238,0.5);
	--palette-3-background:  rgba(184, 85,238,0.5);
	--palette-4-background:  rgba(238, 85,200,0.5);
	--palette-5-background:  rgba(238, 85,108,0.5);
	--palette-6-background:  rgba(238, 85, 87,0.5);
	--palette-7-background:  rgba(230,238, 85,0.5);
	--palette-8-background:  rgba(138,238, 85,0.5);
	--palette-9-background:  rgba( 85,238,123,0.5);
	--palette-10-background: rgba( 85,238,215,0.5);

}

