
#weblog article h2 {
	margin: 64px 0px 32px 0px;
}

#weblog article h3 {
	margin: 64px 0px 32px 0px;
}

#weblog article p {
	margin: 1em 0px 0px 0px;
}

#weblog-articles {
	display: table;
	width: 100%;
	height: auto;
	margin: 0px;
	padding: 0px;
	font-family: 'museo-sans-300';
	font-size: 16px;
	border: 0px solid transparent;
}

#weblog-articles thead th {
	margin: 0px;
	padding: 0px 8px 16px 8px;
	font-size: 20px;
	text-align: center;
}

#weblog-articles tbody tr {
	line-height: 32px;
}

#weblog-articles tbody tr[data-result="false"] {
	display: none;
}

#weblog-articles tbody:empty {
	display: block;
	content: "No Articles match the Recipe";
	text-align: center;
}

#weblog-articles tbody tr td {
	margin: 0px;
	padding: 0px 8px;
}

#weblog-articles tbody tr td:first-of-type:before {
	display: inline-block;
	content: '';
	width: 32px;
	height: 32px;
	line-height: 32px;
	margin: 0px;
	padding: 0px;
	background-position: center center;
	background-repeat: no-repeat;
	vertical-align: middle;
	cursor: help;
}

#weblog-articles tbody tr.hardware td:first-of-type:before                          { background-image: url('./search/hardware.svg'); }
#weblog-articles tbody tr.software td:first-of-type:before                          { background-image: url('./search/software.svg'); }
#weblog-articles tbody tr.research td:first-of-type:before                          { background-image: url('./search/research.svg'); }
#weblog-articles tbody tr.legacy td:first-of-type:before                            { background-image: url('./search/legacy.svg'); }
#weblog-articles tbody tr.hardware-software td:first-of-type:before                 { background-image: url('./search/hardware-software.svg'); }
#weblog-articles tbody tr.hardware-research td:first-of-type:before                 { background-image: url('./search/hardware-research.svg'); }
#weblog-articles tbody tr.hardware-legacy td:first-of-type:before                   { background-image: url('./search/hardware-legacy.svg'); }
#weblog-articles tbody tr.software-research td:first-of-type:before                 { background-image: url('./search/software-research.svg'); }
#weblog-articles tbody tr.software-legacy td:first-of-type:before                   { background-image: url('./search/software-legacy.svg'); }
#weblog-articles tbody tr.research-legacy td:first-of-type:before                   { background-image: url('./search/research-legacy.svg'); }
#weblog-articles tbody tr.hardware-software-research td:first-of-type:before        { background-image: url('./search/hardware-software-research.svg'); }
#weblog-articles tbody tr.hardware-software-legacy td:first-of-type:before          { background-image: url('./search/hardware-software-legacy.svg'); }
#weblog-articles tbody tr.hardware-research-legacy td:first-of-type:before          { background-image: url('./search/hardware-research-legacy.svg'); }
#weblog-articles tbody tr.software-research-legacy td:first-of-type:before          { background-image: url('./search/software-research-legacy.svg'); }
#weblog-articles tbody tr.hardware-software-research-legacy td:first-of-type:before { background-image: url('./search/hardware-software-research-legacy.svg'); }

#weblog-articles tbody tr:hover td {
	background: rgba(255,255,255,0.1);
	border-radius: 8px;
}

