
body > div > aside {
	margin: 0px;
	padding: 0px;
	color: var(--aside-color);
	background: var(--aside-background);
	text-align: center;
	box-sizing: border-box;
	transform: translate(-100%, 0%);
	transition: all 250ms ease-out;
	z-index: 19;
}

body > div > aside.visible {
	transform: translate(0%, 0%);
	transition: all 250ms ease-out;
}

aside > ul {
	display: block flow-root;
	width: auto;
	height: auto;
	margin: 0px auto 0px auto;
	padding: 0px;
	font-family: "crumble";
	font-size: 1rem;
	text-align: left;
	list-style: none;
	user-select: none;
	white-space: nowrap;
}

aside > ul > li {
	display: block;
	line-height: 150%;
	margin: 4px 0px;
	padding: 0px;
}

aside > ul > li:has(b) {
	margin-top: 32px;
}

aside > ul > li > b {
	display: block flow-root;
	margin: 0px;
	padding: 8px 16px;
	font-family: "crumble";
	font-style: normal;
	font-weight: bold;
	font-size: 1rem;
}

aside > ul > li:has(ul) > ul {
	display: block flow-root;
	width: auto;
	height: auto;
	margin: 0px auto 0px auto;
	padding: 0px;
	font-family: "crumble";
	font-style: normal;
	font-weight: normal;
	font-size: 1rem;
	text-align: left;
	list-style: none;
	user-select: none;
	white-space: nowrap;
}

aside > ul > li:has(ul) > ul li {
	display: block;
	line-height: 125%;
	margin: 4px 16px 4px 16px;
	padding: 0px;
}

aside > ul > li:has(ul) > ul li a {
	color: var(--link-default-color);
	background: var(--link-default-background);
	text-decoration: none;
	transition: all 250ms ease-out;
}

aside > ul > li:has(ul) > ul li a.active,
aside > ul > li:has(ul) > ul li a:hover,
aside > ul > li:has(ul) > ul li a:focus {
	color: var(--link-active-color);
	background: var(--link-active-background);
	text-decoration: underline;
	transition: all 250ms ease-out;
}

