
footer {
	display: block flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: auto;
	height: 30px;
	margin: 0px;
	padding: 0px 16px;
	line-height: 30px;
	color: var(--footer-color);
	background: var(--footer-background);
	white-space: nowrap;
	box-sizing: border-box;
	transform: translate(0%, 0%);
	transition: transform 250ms ease-out;
}

footer div {
	display: inline-block;
	width: auto;
	margin: 0px auto 0px auto;
	padding: 0px;
	vertical-align: middle;
	font-family: "vera-mono";
	font-weight: normal;
	font-style: normal;
	font-size: 0.8rem;
	text-align: center;
	box-sizing: border-box;
}

footer div button {
	width: auto;
	line-height: 16px;
	height: 32px;
	vertical-align: middle;
}

footer div:first-of-type {
	display: inline-block;
	width: auto;
	margin: 0px auto 0px 0px;
	padding: 0px;
	vertical-align: middle;
	text-align: left;
	box-sizing: border-box;
}

footer div:first-of-type button[data-action] {
	color: var(--palette-secondary-color);
	background: var(--palette-secondary-background);
	cursor: pointer;
}

footer div:last-of-type {
	display: inline-block;
	width: auto;
	margin: 0px 0px 0px auto;
	padding: 0px;
	vertical-align: middle;
	text-align: right;
	box-sizing: border-box;
}

footer div:last-of-type button[data-action] {
	color: var(--palette-primary-color);
	background: var(--palette-primary-background);
	cursor: pointer;
}

footer button {
	margin: 0px 0px 0px 8px;
}

footer button:first-of-type {
	margin-left: 0px;
}

footer label {
	font-family: "crumble";
	font-size: 0.8rem;
	font-style: normal;
	font-weight: normal;
	text-align: center;
	text-decoration: none;
}

footer div:first-of-type button[data-action][disabled],
footer div:first-of-type button[data-action][disabled]:hover,
footer div:first-of-type button[data-action][disabled]:focus,
footer div:last-of-type button[data-action][disabled],
footer div:last-of-type button[data-action][disabled]:hover,
footer div:last-of-type button[data-action][disabled]:focus {
	color: var(--button-disabled-color);
	background: var(--button-disabled-background);
	border: 1px solid var(--button-default-border);
	cursor: not-allowed;
}
