
body > div > main {
	margin: 0px;
	padding: 0px;
	color: var(--main-color);
	background: var(--main-background);
	text-align: left;
	box-sizing: border-box;
	transform: translate(0px, 0px);
	transition: transform 250ms ease-out;
	z-index: 19;
}

body > div > main > article {
	width: calc(100% - 64px);
	max-width: 1280px;
	margin: 32px auto;
}

body > div > main > article audio {
	display: block;
	width: 50%;
	max-width: 320px;
	margin: 32px auto;
	box-sizing: border-box;
}

body > div > main > article > img {
	display: block;
	margin: 64px auto;
	width: 256px;
	height: 256px;
	border-radius: 16px;
	border: 1px solid var(--article-color);
	box-sizing: border-box;
}

body > div > main > article section img:not([width]):not([height]) {
	display: block;
	width: 100%;
	height: auto;
	margin: 32px 0px;
	padding: 0px;
	border-radius: unset;
	border: unset;
}

body > div > main > article section img:last-child {
	border-bottom-left-radius: 16px;
	border-bottom-right-radius: 16px;
	margin-bottom: 0px;
}

body > div > main > article section img[width],
body > div > main > article section img[height] {
	display: block;
	margin: 32px auto;
	padding: 0px;
	border: unset;
	border-radius: 16px;
}

body > div > main > article section img[width]:last-child,
body > div > main > article section img[height]:last-child {
	margin: 32px auto;
	border-radius: 16px;
}

body > div > main > article h1 {
	display: block;
	line-height: 2rem;
	margin: 0px 0px 60px 0px;
	padding: 0px 0px 10px 0px;
	font-family: "crumble";
	font-size: 2rem;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	border-bottom: 2px solid var(--article-color);
}

body > div > main > article h2 {
	display: block;
	line-height: 1.5rem;
	margin: 0px 0px 60px 0px;
	padding: 0px 0px 10px 0px;
	font-family: "crumble";
	font-size: 1.5rem;
	font-style: normal;
	font-weight: 500;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	border-bottom: 2px solid var(--article-color);
}

body > div > main > article section {
	display: block;
	margin: 0px 0px 50px 0px;
	padding: 0px;
	color: var(--article-color);
	background: var(--article-background);
	border: 1px solid transparent;
	border-radius: 16px;
}

body > div > main > article h3 {
	display: block;
	margin: 16px 0px;
	padding: 0px;
	line-height: 1.5rem;
	font-family: "crumble";
	font-size: 1.5rem;
	font-style: normal;
	font-weight: 700;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
}

body > div > main > article h4 {
	display: block;
	margin: 64px 16px 16px 16px;
	padding: 0px 0px 5px 0px;
	line-height: 1.25rem;
	font-family: "crumble";
	font-size: 1.25rem;
	font-style: normal;
	font-weight: 700;
	line-height: 30px;
	text-align: left;
	text-decoration: none;
	vertical-align: middle;
	border-bottom: 1px solid var(--article-color);
}

body > div > main > article p {
	display: block;
	margin: 0px 0px 16px 0px;
	padding: 0px 16px;
	line-height: 1.25rem;
	font-family: "crumble";
	font-size: 1rem;
	font-style: normal;
	font-weight: 300;
	text-align: justify;
	vertical-align: middle;
}

body > div > main > article ul {
	display: block;
	margin: 0px 0px 16px 0px;
	padding: 0px 16px;
	line-height: 1.25rem;
	list-style: none;
	font-family: "crumble";
	font-size: 1rem;
	font-style: normal;
	font-weight: 300;
	text-align: left;
	vertical-align: middle;
}

body > div > main > article ul li {
	padding-left: 1em;
	padding-top: 0.5em;
}

body > div > main > article ul li::before {
	content: "•";
	display: inline-block;
	width: 0.8em;
}

body > div > main > article ol {
	counter-reset: ordered-list;
	display: block;
	margin: 0px 0px 16px 0px;
	padding: 0px 16px;
	line-height: 1.25rem;
	list-style: none;
	font-family: "crumble";
	font-size: 1rem;
	font-style: normal;
	font-weight: 300;
	text-align: left;
	vertical-align: middle;
}

body > div > main > article ol li {
	counter-increment: ordered-list;
	position: relative;
	padding-left: 1em;
	padding-top: 0.5em;
}

body > div > main > article ol li::before {
	content: counter(ordered-list) ". ";
	position: absolute;
	left: 0px;
	width: 0.5em;
	text-align: right;
}

body > div > main > article del,
body > div > main > article del,
body > div > main > article del,
body > div > main > article del {
	color: var(--article-del-color);
	text-decoration: line-through;
	text-decoration-color: var(--article-del-color);
}

body > div > main > article a {
	color: var(--link-default-color);
	background: var(--link-default-background);
	text-decoration: none;
	transition: all 250ms ease-out;
}

body > div > main > article a:hover,
body > div > main > article a:focus {
	color: var(--link-active-color);
	background: var(--link-active-background);
	text-decoration: underline;
	transition: all 250ms ease-out;
}

body > div > main > article b {
	font-weight: bold;
}

body > div > main > article span[id^="footnote-"] {
	font-family: "vera-mono";
	font-weight: 300;
	padding: 0px 0px;
	border-radius: 4px;
}

body > div > main > article span[id^="footnote-"]:target {
	padding: 0px 8px;
	color: var(--link-active-color);
	background: var(--link-default-color);
	font-weight: bold;
	text-decoration: underline;
	transition: all 250ms ease-out;
}

body > div > main > article a[href]:before {
	display: inline-block;
	width: auto;
	line-height: inherit;
	margin: 0em 0.25em 0em 0em;
	padding: 0px;
	font-family: "icon";
	font-size: 1rem;
	font-style: normal;
	font-weight: normal;
	text-align: center;
	text-decoration: none;
	text-transform: none;
	font-smooth: antialiased;
	speak: never;
}

article a[href^="https://"]:before {
	content: "\f0ac";
}

article a[href^="magnet:"]:before {
	content: "\f076";
}

article a[href^="https://arxiv.org/"]:before {
	content: "\f15c";
}

article a[href^="https://github.com/"]:before {
	content: "\f113";
}

article a[href^="https://gitlab.com/"]:before {
	content: "\f296";
}

article a[href^="https://en.wikipedia.org/"]:before {
	content: "\f266";
}

article a[href^="https://youtube.com/"]:before {
	content: "\f16a";
}

article a[href^="/projects"]:before {
	content: "\f135";
}

article a[href^="/tutorials"]:before {
	content: "\f0ad";
}

article a[href^="/weblog"]:before {
	content: "\f0c1";
}

article a[href^="/wiki"]:before {
	content: "\f02d";
}

article a[href$=".pdf"]:before {
	content: "\f15c";
}

article a[href$=".zip"]:before {
	content: "\f1c6";
}

body > div > main > article code {
	display: inline-block;
	margin: 0px;
	padding: 0px 8px;
	font-family: "vera-mono";
	font-weight: 300;
	color: var(--article-code-color);
	background: var(--article-code-background);
	border-radius: 4px;
}

body > div > main > article pre {
	display: block;
	margin: 16px 0px;
	padding: 16px;
	line-height: 1.25rem;
	font-family: "vera-mono";
	font-size: 1rem;
	font-style: normal;
	font-weight: 300;
	text-align: left;
	color: var(--article-code-color);
	background: var(--article-code-background);
	tab-size: 4;
	overflow: auto;
}

body > div > main > article section pre:last-child {
	border-bottom-left-radius: 16px;
	border-bottom-right-radius: 16px;
	margin-bottom: 0px;
}

