
header {
	display: block;
	position: fixed;
	top: 0px;
	right: 0px;
	bottom: auto;
	left: 0px;
	text-align: center;
	z-index: 99;
	user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

header aside#menu {
	display: inline-block;
	width: auto;
	margin: 0px;
	padding: 0px;
	background: #252530;
	text-align: center;
	border-radius: 0px 0px 4px 4px;
	transform: translate(0%, -100%);
	transition: 250ms transform ease-out;
	pointer-events: none;
}

header aside#menu.visible {
	transform: translate(0%, 0%);
	transition: 250ms transform ease-out;
	pointer-events: all;
}

header aside#menu a#menu-button {
	display: none;
	position: absolute;
	width: 64px;
	height: 48px;
	margin: 0px;
	padding: 0px 8px;
	top: 0px;
	left: 0px;
	right: auto;
	bottom: auto;
	color: #ffffff;
	line-height: 48px;
	font-family: 'museo-sans-300';
	font-size: 16px;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	background-color: transparent;
	border: 0px solid transparent;
	border-radius: 4px;
	box-sizing: border-box;
	z-index: 0;
	appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-webkit-appearance: none;
	outline: none;
	cursor: pointer;
	user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

header aside#menu a#menu-button:hover,
header aside#menu a#menu-button:focus {
	background: #0f99cb;
	transition: 250ms background ease-out;
	outline: none;
}

header aside#menu a:not(#menu-button) {
	display: inline-block;
	width: auto;
	margin: 0px;
	padding: 0px 8px;
	height: 32px;
	line-height: 32px;
	color: #ffffff;
	background: transparent;
	font-family: 'museo-sans-300';
	font-size: 16px;
	text-align: center;
	text-decoration: none;
	border-radius: 4px;
	box-sizing: border-box;
	transition: 250ms background ease-out;
}

header aside#menu a:not(#menu-button).active,
header aside#menu a:not(#menu-button):hover,
header aside#menu a:not(#menu-button):focus {
	background: #0f99cb;
	transition: 250ms background ease-out;
	outline: none;
}

header aside#menu:hover a:not(#menu-button).active:not(:hover) {
	background: transparent;
}

header aside#menu:hover a:not(#menu-button):hover ~ a.active {
	background: transparent;
}



header aside#toc {
	display: block;
	width: auto;
	max-width: calc(33.33% / 2);
	margin: 0px;
	padding: 0px;
	background: #252530;
	text-align: left;
	border-radius: 0px 0px 4px 4px;
	position: fixed;
	top: 0px;
	right: auto;
	bottom: 0px;
	left: 0px;
	transform: translate(-100%, 0%);
	pointer-events: none;
	overflow: hidden auto;
}

header aside#toc.visible {
	transform: translate(0%, 0%);
	transition: 250ms transform ease-out;
	pointer-events: all;
}

header aside#toc a {
	display: block;
	margin: 0px;
	padding: 0px 8px;
	height: 32px;
	line-height: 32px;
	color: #ffffff;
	background: transparent;
	font-family: 'museo-sans-300';
	font-size: 16px;
	text-align: left;
	text-decoration: none;
	border-radius: 4px;
	box-sizing: border-box;
	transition: 250ms background ease-out;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

header aside#toc a.active,
header aside#toc a:hover,
header aside#toc a:focus {
	background: #0f99cb;
	transition: 250ms background ease-out;
	outline: none;
}

header aside#toc a.section {
	margin-top: 16px;
}

header aside#toc a.section:first-child {
	margin-top: 0px;
}

header aside#toc a.headline {
	margin-left: 16px;
}



@media print {

	header {
		display: none !important;
	}

	header aside#menu {
		display: none !important;
	}

	header aside#toc {
		display: none !important;
	}

}



@media screen and (max-width: 740px) {

	header {
		bottom: 0px;
		text-align: left;
		pointer-events: none;
	}

	header aside#menu {
		width: 64px;
		height: 48px;
		border-radius: 0px 0px 8px 0px;
		text-align: center;
		transition: 250ms all ease-out;
	}

	header aside#menu.open {
		width: 100%;
		height: 100%;
		border-radius: 0px;
		transition: 250ms all ease-out;
	}

	header aside#menu a#menu-button {
		display: inline-block;
		z-index: 0;
	}

	header aside#menu.open a#menu-button {
		display: none;
		z-index: -1;
	}

	header aside#menu a:not(#menu-button) {
		display: none;
		width: 100%;
		height: 48px;
		line-height: 48px;
		background: #252530;
		overflow: hidden;
		z-index: 1;
	}

	header aside#menu.open a:not(#menu-button) {
		display: block;
	}



	/*
	 * Blocked JavaScript Support
	 */

	header aside#menu:target {
		width: 100%;
		height: 100%;
		border-radius: 0px;
		transition: 250ms all ease-out;
	}

	header aside#menu:target a:not(#menu-button) {
		display: block;
	}

	header aside#menu:target a#menu-button {
		z-index: -1;
	}

	header aside#toc {
		display: none !important;
	}

}

