
dialog#game-over {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	margin: 0px;
	padding: 0px;
	background: rgba(0,0,0,0.0);
	transform: translate(0%, -100%);
	transition: all 250ms ease-out;
	pointer-events: none;
	appearance: none;
	z-index: 100;
	opacity: 0;
}

dialog#game-over[open] {
	background: rgba(0,0,0,0.1);
	transform: translate(0%, 0%);
	transition: all 250ms ease-out;
	pointer-events: all;
	opacity: 1;
}

dialog#game-over article {
	display: block;
	position: fixed;
	width: auto;
	height: auto;
	top: 50%;
	right: auto;
	bottom: auto;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: all 250ms ease-out;
	color: var(--article-color);
	background: var(--article-background);
	border: 1px solid transparent;
	border-radius: 8px;
	z-index: 31;
}

dialog#game-over article h3 {
	display: block;
	position: static;
	margin: 0px;
	padding: 8px 8px;
	line-height: 50px;
	font-family: "crumble";
	font-size: 1.25rem;
	font-style: normal;
	font-weight: 700;
	text-align: center;
	text-decoration: none;
	color: var(--header-color);
	background: var(--header-background);
	border-radius: 8px 8px 0px 0px;
	user-select: none;
}

dialog#game-over article h4 {
	display: block;
	margin: 16px 16px 0px 16px;
	padding: 0px 0px 5px 0px;
	line-height: 1.25rem;
	font-family: "crumble";
	font-size: 1.25rem;
	font-style: normal;
	font-weight: 700;
	text-align: left;
	text-decoration: none;
	vertical-align: middle;
	border-bottom: 1px solid var(--article-color);
}

dialog#game-over article img {
	display: inline-block;
	width: 128px;
	height: 128px;
	margin: 16px 16px;
	line-height: 128px;
	vertical-align: middle;
}

dialog#game-over article ul {
	display: inline-block;
	margin: 0px 0px 16px 0px;
	padding: 0px 16px;
	line-height: 1.25rem;
	font-family: "crumble";
	font-size: 1rem;
	font-style: normal;
	font-weight: 300;
	text-align: justify;
	text-decoration: none;
	vertical-align: middle;
}

dialog#game-over article footer {
	height: 50px;
	line-height: 50px;
}

dialog#game-over article footer div,
dialog#game-over article footer div button {
	font-size: 0.8rem;
	vertical-align: middle;
}

dialog#game-over article footer div button[data-action="cancel"]:before  { content: "\f00d"; }
dialog#game-over article footer div button[data-action="confirm"]:before { content: "\f1d0"; }

dialog#game-over article footer div:first-of-type {
	margin-right: 64px;
}

dialog#game-over article footer div:last-of-type {
	margin-left: 64px;
}
