
#education {
	display: block;
	position: relative;
	padding: 64px 0px 64px 0px;
}

#education:before {
	display: block;
	position: absolute;
	content: '';
	width: 4px;
	top: calc(48px + 64px);
	right: calc(50% - 2px);
	bottom: 0px;
	left: calc(50% - 2px);
	background: #252530;
}

#education:after {
	display: block;
	position: absolute;
	content: '';
	width: 32px;
	height: 16px;
	top: auto;
	right: calc(50% - 16px);
	bottom: 0px;
	left: calc(50% - 16px);
	background: #252530;
	border-radius: 16px 16px 0px 0px;
}

#education article {
	display: block;
	position: relative;
	/* 50% - margin - padding - center */
	width: calc(50% - 32px - 64px - 32px);
	margin: 32px 16px 32px 16px;
}

#education article:nth-of-type(even) {
	margin-left: calc(50% + 32px + 16px);
}

#education article:only-of-type {
	margin: 48px auto 0px auto;
}

#education article h3 {
	vertical-align: middle;
	line-height: 32px;
	white-space: nowrap;
	overflow: hidden;
}

#education article h3:before {
	display: inline-block;
	content: '';
	width: 32px;
	height: 32px;
	margin: 0px 16px 0px 0px;
	padding: 0px;
	background-position: center center;
	background-repeat: no-repeat;
	vertical-align: bottom;
	cursor: help;
}

#education article h4 {
	position: relative;
	margin: 16px 0px 16px 0px;
	padding: 0px;
	font-family: 'museo-sans-300';
	font-size: 24px;
	font-weight: 300;
	line-height: 32px;
	vertical-align: middle;
	white-space: nowrap;
	overflow: hidden;
}

#education article samp {
	display: block;
	position: absolute;
	top: 28px;
	right: -68px;
	bottom: auto;
	left: auto;
	width: 68px;
}

#education article samp:before {
	display: block;
	position: absolute;
	top: calc(18px);
	right: 0px;
	bottom: auto;
	left: 0px;
	content: "";
	width: calc(100%);
	height: 4px;
	background: #252530;
}

#education article samp:after {
	display: block;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: auto;
	left: auto;
	content: "";
	width: 40px;
	height: 40px;
	border-radius: 16px;
	border: 4px solid #252530;
	background: #252530;
	box-sizing: border-box;
}

#education article:nth-of-type(even) samp {
	left: -68px;
}

#education article:nth-of-type(even) samp:after {
	top: 0px;
	right: auto;
	bottom: auto;
	left: 0px;
}

#education article samp:after { background-image: url('../../design/search/hardware-software-research-legacy.svg'); }
#education article h3:before  { background-image: url('../../design/search/hardware-software-research-legacy.svg'); }

#education article[data-result="true"] > div,
#education article[data-result="true"] > p {
	display: inherit;
}

#education article[data-result="false"] > div,
#education article[data-result="false"] > p {
	display: none;
}

#education article[data-result="false"] > h3 {
	margin: 0px;
	color: #ffffff;
	cursor: pointer;
}

#education article[data-result="false"] > h3:hover {
	margin: 0px;
	color: #ffffff;
	animation: glowing-header 1s ease-in-out infinite;
	cursor: pointer;
}

@keyframes glowing-header {
	0%   { color: #ffffff; }
	50%  { color: #0f99cb; }
	100% { color: #ffffff; }
}



@media print {

	#education:before,
	#education:after {
		display: none;
	}

	#education article,
	#education article:nth-of-type(even) {
		display: block;
		position: static;
		width: 100%;
		margin: 0px;
		padding: 0px;
		page-break-after: always;
	}

	#education div a {
		display: block;
	}

}



@media screen and (max-width: 740px) {

	#education:before,
	#education:after {
		display: none;
	}

	#education article,
	#education article:nth-of-type(even) {
		width: auto;
		margin: 32px 0px;
	}

	#education article samp {
		display: none;
	}

}

