
#employers {
	display: block;
	position: relative;
	padding: 64px 0px 64px 0px;
}

#employers:before {
	display: block;
	position: absolute;
	content: '';
	width: 4px;
	top: calc(48px + 64px);
	right: calc(50% - 2px);
	bottom: 0px;
	left: calc(50% - 2px);
	background: #252530;
}

#employers:after {
	display: block;
	position: absolute;
	content: '';
	width: 32px;
	height: 16px;
	top: auto;
	right: calc(50% - 16px);
	bottom: 0px;
	left: calc(50% - 16px);
	background: #252530;
	border-radius: 16px 16px 0px 0px;
}

#employers article {
	display: block;
	position: relative;
	/* 50% - margin - padding - center */
	width: calc(50% - 32px - 64px - 32px);
	margin: 32px 16px 32px 16px;
}

#employers article:nth-of-type(even) {
	margin-left: calc(50% + 32px + 16px);
}

#employers article h3 {
	vertical-align: middle;
	line-height: 32px;
	white-space: nowrap;
	overflow: hidden;
}

#employers article h3:before {
	display: inline-block;
	content: '';
	width: 32px;
	height: 32px;
	margin: 0px 16px 0px 0px;
	padding: 0px;
	background-position: center center;
	background-repeat: no-repeat;
	vertical-align: bottom;
	cursor: help;
}

#employers article samp {
	display: block;
	position: absolute;
	top: 28px;
	right: -68px;
	bottom: auto;
	left: auto;
	width: 68px;
}

#employers article samp:before {
	display: block;
	position: absolute;
	top: calc(18px);
	right: 0px;
	bottom: auto;
	left: 0px;
	content: "";
	width: calc(100%);
	height: 4px;
	background: #252530;
}

#employers article samp:after {
	display: block;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: auto;
	left: auto;
	content: "";
	width: 40px;
	height: 40px;
	border-radius: 16px;
	border: 4px solid #252530;
	background: #252530;
	box-sizing: border-box;
}

#employers article:nth-of-type(even) samp {
	left: -68px;
}

#employers article:nth-of-type(even) samp:after {
	top: 0px;
	right: auto;
	bottom: auto;
	left: 0px;
}

#employers article.hardware samp:after                          { background-image: url('../../design/search/hardware.svg'); }
#employers article.software samp:after                          { background-image: url('../../design/search/software.svg'); }
#employers article.research samp:after                          { background-image: url('../../design/search/research.svg'); }
#employers article.legacy samp:after                            { background-image: url('../../design/search/legacy.svg'); }
#employers article.hardware-software samp:after                 { background-image: url('../../design/search/hardware-software.svg'); }
#employers article.hardware-research samp:after                 { background-image: url('../../design/search/hardware-research.svg'); }
#employers article.hardware-legacy samp:after                   { background-image: url('../../design/search/hardware-legacy.svg'); }
#employers article.software-research samp:after                 { background-image: url('../../design/search/software-research.svg'); }
#employers article.software-legacy samp:after                   { background-image: url('../../design/search/software-legacy.svg'); }
#employers article.research-legacy samp:after                   { background-image: url('../../design/search/research-legacy.svg'); }
#employers article.hardware-software-research samp:after        { background-image: url('../../design/search/hardware-software-research.svg'); }
#employers article.hardware-software-legacy samp:after          { background-image: url('../../design/search/hardware-software-legacy.svg'); }
#employers article.hardware-research-legacy samp:after          { background-image: url('../../design/search/hardware-research-legacy.svg'); }
#employers article.software-research-legacy samp:after          { background-image: url('../../design/search/software-research-legacy.svg'); }
#employers article.hardware-software-research-legacy samp:after { background-image: url('../../design/search/hardware-software-research-legacy.svg'); }

#employers article.hardware h3:before                          { background-image: url('../../design/search/hardware.svg'); }
#employers article.software h3:before                          { background-image: url('../../design/search/software.svg'); }
#employers article.research h3:before                          { background-image: url('../../design/search/research.svg'); }
#employers article.legacy h3:before                            { background-image: url('../../design/search/legacy.svg'); }
#employers article.hardware-software h3:before                 { background-image: url('../../design/search/hardware-software.svg'); }
#employers article.hardware-research h3:before                 { background-image: url('../../design/search/hardware-research.svg'); }
#employers article.hardware-legacy h3:before                   { background-image: url('../../design/search/hardware-legacy.svg'); }
#employers article.software-research h3:before                 { background-image: url('../../design/search/software-research.svg'); }
#employers article.software-legacy h3:before                   { background-image: url('../../design/search/software-legacy.svg'); }
#employers article.research-legacy h3:before                   { background-image: url('../../design/search/research-legacy.svg'); }
#employers article.hardware-software-research h3:before        { background-image: url('../../design/search/hardware-software-research.svg'); }
#employers article.hardware-software-legacy h3:before          { background-image: url('../../design/search/hardware-software-legacy.svg'); }
#employers article.hardware-research-legacy h3:before          { background-image: url('../../design/search/hardware-research-legacy.svg'); }
#employers article.software-research-legacy h3:before          { background-image: url('../../design/search/software-research-legacy.svg'); }
#employers article.hardware-software-research-legacy h3:before { background-image: url('../../design/search/hardware-software-research-legacy.svg'); }

#employers article[data-result="true"] > div,
#employers article[data-result="true"] > p {
	display: inherit;
}

#employers article[data-result="false"] > div,
#employers article[data-result="false"] > p {
	display: none;
}

#employers article[data-result="false"] > h3 {
	margin: 0px;
	color: #ffffff;
	cursor: pointer;
}

#employers article[data-result="false"] > h3:hover {
	margin: 0px;
	color: #ffffff;
	animation: glowing-header 1s ease-in-out infinite;
	cursor: pointer;
}

@keyframes glowing-header {
	0%   { color: #ffffff; }
	50%  { color: #0f99cb; }
	100% { color: #ffffff; }
}



@media print {

	#employers:before,
	#employers:after {
		display: none;
	}

	#employers article,
	#employers article:nth-of-type(even) {
		display: block;
		position: static;
		width: 100%;
		margin: 0px;
		padding: 0px;
		page-break-after: always;
	}

	#employers div a {
		display: block;
	}

}



@media screen and (max-width: 740px) {

	#employers:before,
	#employers:after {
		display: none;
	}

	#employers article,
	#employers article:nth-of-type(even) {
		width: auto;
		margin: 32px 0px;
	}

	#employers article samp {
		display: none;
	}

}

