
section#profile figure#avatar {
	display: block;
	position: relative;
	width: 100%;
	margin-block-start: 0px;
	margin-block-end: 0px;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	margin: 0px auto 0px auto;
}

section#profile figure#avatar img {
	display: inline-block;
	position: relative;
	width: 128px;
	height: 128px;
	margin: 0px 0px 0px calc((200px / 2) - 64px - 8px);
	border-radius: 72px;
	border: 8px solid #252530;
	vertical-align: middle;
	cursor: pointer;
	user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	z-index: 2;
}

section#profile figure#avatar figcaption {
	display: inline-block;
	position: absolute;
	width: auto%;
	margin: 0px;
	padding: 16px 0px 16px calc(128px + 16px + 64px);
	top: calc(64px / 2);
	right: 1em;
	bottom: auto;
	left: 0px;
	font-family: 'museo-sans-300';
	font-size: 16px;
	line-height: 20px;
	vertical-align: middle;
	background: #252530;
	border-radius: 0px 64px 64px 0px;
	user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	z-index: 1;
}

section#profile figure#avatar figcaption b {
	font-family: 'museo-sans-300';
	font-size: 18px;
}

section#profile aside {
	top: calc((128px / 2) + 32px + 8px);
	padding: 64px 0px 0px 0px;
}

section#profile article {
	top: calc(128px - 8px);
}

