
section {
	position: relative;
	margin: 0px;
	width: 21cm !important;
	height: 29.7cm !important;
	background: #ffffff;
	border: 2px solid #000000;
	box-shadow: 0px 8px 32px 32px rgba(0,0,0,0.15);
}

section:empty {
	display: none !important;
}

section aside {
	position: absolute;
	width: 200px;
	margin: 0px;
	padding: 32px 0px 0px 0px;
	top: 0px;
	right: auto;
	bottom: 0px;
	left: 0px;
	background: #252530;
}

section aside div:not(:first-of-type) {
	margin-top: 64px;
}

section aside b {
	display: block;
	font-family: 'museo-sans-300';
	font-size: 20px;
	line-height: 40px;
	height: 40px;
	text-align: center;
}

section aside ul {
	display: block;
	margin: 0px;
	padding: 0px;
	list-style: none;
}

section aside ul li {
	display: block;
	margin: 0px 0px 2px 0px;
	padding: 0px;
	text-align: center;
	font-family: 'vera-mono';
	font-size: 14px;
	line-height: 16px;
}

section aside ul li span {
	display: inline-block;
	width: 5em;
	line-height: 32px;
	vertical-align: middle;
}

section aside progress {
	display: inline-block;
	position: relative;
	width: calc(100% - 6em - 8px);
	height: 24px;
	margin: 0px 8px 0px 0px;
	line-height: 32px;
	background: #444444;
	border: 0px solid transparent;
	border-radius: 16px;
	vertical-align: middle;
	user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	z-index: 1;
}

section aside progress:before {
	display: inline-block;
	position: absolute;
	width: 100%;
	height: 24px;
	line-height: 24px;
	top: 0%;
	left: 0%;
	content: attr(data-label);
	color: #fff;
	font-family: 'museo-sans-300';
	font-size: 16px;
	font-weight: normal;
	text-align: center;
}

section aside progress::-moz-progress-bar {
	background: #0f99cb;
	border-radius: 16px;
}

section aside progress::-webkit-progress-bar {
	background: #444;
	border-radius: 16px;
}

section aside progress::-webkit-progress-value {
	background: #0f99cb;
	border-radius: 16px;
}

section aside progress[value="-25"]::-moz-progress-bar {
	margin: 0px 0px 0px -15%;
	width: 25% !important;
	background: #cb0f99;
}

section aside progress[value="-25"]::-webkit-progress-value {
	margin: 0px 0px 0px -15%;
	width: 25% !important;
	background: #cb0f99;
}

section article {
	position: absolute;
	width: calc(100% - 200px);
	margin: 0px;
	padding: 1em;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	color: #252530;
	background: #ffffff;
	box-sizing: border-box;
}

section:has(aside) article {
	left: 200px;
}

section article h1 {
	display: block;
	margin: 0px;
	padding: 0px;
	font-family: 'museo-sans-500';
	font-size: 20px;
	line-height: 40px;
	margin-bottom: 1em;
}

section article h1 {
	margin: 0px 0px 1em -16px;
	padding: 16px 0px 16px 16px;
	font-family: 'museo-sans-300';
	font-size: 18px;
	line-height: 20px;
	color: #ffffff;
	background: #252530;
	border-radius: 0px 64px 64px 0px;
	vertical-align: middle;
	user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	z-index: 1;
}

section article h1 span {
	display: block;
	font-family: 'museo-sans-300';
	font-size: 16px;
	font-weight: normal;
	line-height: 20px;
	vertical-align: middle;
	user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	z-index: 1;
}

section article h2 {
	display: block;
	position: relative;
	margin: 0px;
	padding: 0px;
	font-family: 'museo-sans-300';
	font-size: 16px;
	font-weight: normal;
}

section article h3 {
	display: block;
	position: relative;
	margin: 0px;
	padding: 0px;
	font-family: 'museo-sans-500';
	font-size: 16px;
}

section article h3 span {
	display: inline-block;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: auto;
	font-family: 'vera-mono';
	font-size: 14px;
	font-weight: normal;
}

section article div {
	display: block;
	margin: 0px 0px 1.5em 0px;
	padding: 0px;
}

section article p {
	display: block;
	margin: 0px;
	padding: 0.5em 0px 0.5em 0px;
	font-family: 'museo-sans-300';
	font-size: 16px;
	font-weight: normal;
	text-align: justify;
}

section article ul {
	display: block;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 1em;
	font-family: 'museo-sans-300';
	font-size: 16px;
	font-weight: normal;
	text-align: left;
}

section article p:last-child,
section article ul:last-child {
	margin-bottom: 1em;
}

section a {
	font-family: 'museo-sans-300';
	font-size: 16px;
	font-weight: normal;
	color: #0f99cb;
	text-decoration: none;
}

section a:hover,
section a:focus,
section a:active {
	color: #ffffff;
	text-decoration: underline;
	animation: glowing-link 1s ease-in-out infinite;
	border: 0px solid transparent;
	outline: none;
}

@keyframes glowing-link {
	0%   { color: #ffffff; }
	50%  { color: #0f99cb; }
	100% { color: #ffffff; }
}



@media print {

	section {
		size: 21cm 29.7cm;
		margin: 0cm 0cm 0cm 0cm;
	}

}

@media screen {

	section {
		margin: 128px auto 128px auto;
	}

}
