
#volunteer {
	display: block;
	position: relative;
	padding: 64px 0px 64px 0px;
}

#volunteer:before {
	display: block;
	position: absolute;
	content: '';
	width: 4px;
	top: calc(48px + 64px);
	right: calc(50% - 2px);
	bottom: 0px;
	left: calc(50% - 2px);
	background: #252530;
}

#volunteer:after {
	display: block;
	position: absolute;
	content: '';
	width: 32px;
	height: 16px;
	top: auto;
	right: calc(50% - 16px);
	bottom: 0px;
	left: calc(50% - 16px);
	background: #252530;
	border-radius: 16px 16px 0px 0px;
}

#volunteer figure {
	display: block;
	margin: 16px 0px 16px 0px;
	padding: 0px;
	text-align: center;
}

#volunteer figure a {
	display: block;
	margin: 0px;
	text-align: center;
	text-decoration: none;
	border: 1px solid transparent;
}

#volunteer figure a:hover,
#volunteer figure a:focus,
#volunteer figure a:active {
	border: 1px solid #ffffff;
	animation: glowing-frame 1s ease-in-out infinite;
	outline: none;
}

@keyframes glowing-frame {
	0%   { border: 1px solid #ffffff; }
	50%  { border: 1px solid #0f99cb; }
	100% { border: 1px solid #ffffff; }
}

#volunteer figure img {
	display: block;
	width: 100%;
	height: auto;
	border: 0px solid transparent;
	vertical-align: top;
	outline: none;
}

#volunteer article {
	display: block;
	position: relative;
	/* 50% - margin - padding - center */
	width: calc(50% - 32px - 64px - 32px);
	margin: 32px 16px 32px 16px;
}

#volunteer article:nth-of-type(even) {
	margin-left: calc(50% + 32px + 16px);
}

#volunteer article:only-of-type {
	margin: 48px auto 0px auto;
	text-align: center;
}

#volunteer article h3 {
	vertical-align: middle;
	line-height: 32px;
	white-space: nowrap;
	overflow: hidden;
}

#volunteer article h3:before {
	display: inline-block;
	content: '';
	width: 32px;
	height: 32px;
	margin: 0px 16px 0px 0px;
	padding: 0px;
	background-position: center center;
	background-repeat: no-repeat;
	vertical-align: bottom;
	cursor: help;
}

#volunteer article samp {
	display: block;
	position: absolute;
	top: 28px;
	right: -68px;
	bottom: auto;
	left: auto;
	width: 68px;
}

#volunteer article samp:before {
	display: block;
	position: absolute;
	top: calc(18px);
	right: 0px;
	bottom: auto;
	left: 0px;
	content: "";
	width: calc(100%);
	height: 4px;
	background: #252530;
}

#volunteer article samp:after {
	display: block;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: auto;
	left: auto;
	content: "";
	width: 40px;
	height: 40px;
	border-radius: 16px;
	border: 4px solid #252530;
	background: #252530;
	box-sizing: border-box;
}

#volunteer article:nth-of-type(even) samp {
	left: -68px;
}

#volunteer article:nth-of-type(even) samp:after {
	top: 0px;
	right: auto;
	bottom: auto;
	left: 0px;
}

#volunteer article.hardware samp:after                          { background-image: url('../../design/search/hardware.svg'); }
#volunteer article.software samp:after                          { background-image: url('../../design/search/software.svg'); }
#volunteer article.research samp:after                          { background-image: url('../../design/search/research.svg'); }
#volunteer article.legacy samp:after                            { background-image: url('../../design/search/legacy.svg'); }
#volunteer article.hardware-software samp:after                 { background-image: url('../../design/search/hardware-software.svg'); }
#volunteer article.hardware-research samp:after                 { background-image: url('../../design/search/hardware-research.svg'); }
#volunteer article.hardware-legacy samp:after                   { background-image: url('../../design/search/hardware-legacy.svg'); }
#volunteer article.software-research samp:after                 { background-image: url('../../design/search/software-research.svg'); }
#volunteer article.software-legacy samp:after                   { background-image: url('../../design/search/software-legacy.svg'); }
#volunteer article.research-legacy samp:after                   { background-image: url('../../design/search/research-legacy.svg'); }
#volunteer article.hardware-software-research samp:after        { background-image: url('../../design/search/hardware-software-research.svg'); }
#volunteer article.hardware-software-legacy samp:after          { background-image: url('../../design/search/hardware-software-legacy.svg'); }
#volunteer article.hardware-research-legacy samp:after          { background-image: url('../../design/search/hardware-research-legacy.svg'); }
#volunteer article.software-research-legacy samp:after          { background-image: url('../../design/search/software-research-legacy.svg'); }
#volunteer article.hardware-software-research-legacy samp:after { background-image: url('../../design/search/hardware-software-research-legacy.svg'); }

#volunteer article.hardware h3:before                          { background-image: url('../../design/search/hardware.svg'); }
#volunteer article.software h3:before                          { background-image: url('../../design/search/software.svg'); }
#volunteer article.research h3:before                          { background-image: url('../../design/search/research.svg'); }
#volunteer article.legacy h3:before                            { background-image: url('../../design/search/legacy.svg'); }
#volunteer article.hardware-software h3:before                 { background-image: url('../../design/search/hardware-software.svg'); }
#volunteer article.hardware-research h3:before                 { background-image: url('../../design/search/hardware-research.svg'); }
#volunteer article.hardware-legacy h3:before                   { background-image: url('../../design/search/hardware-legacy.svg'); }
#volunteer article.software-research h3:before                 { background-image: url('../../design/search/software-research.svg'); }
#volunteer article.software-legacy h3:before                   { background-image: url('../../design/search/software-legacy.svg'); }
#volunteer article.research-legacy h3:before                   { background-image: url('../../design/search/research-legacy.svg'); }
#volunteer article.hardware-software-research h3:before        { background-image: url('../../design/search/hardware-software-research.svg'); }
#volunteer article.hardware-software-legacy h3:before          { background-image: url('../../design/search/hardware-software-legacy.svg'); }
#volunteer article.hardware-research-legacy h3:before          { background-image: url('../../design/search/hardware-research-legacy.svg'); }
#volunteer article.software-research-legacy h3:before          { background-image: url('../../design/search/software-research-legacy.svg'); }
#volunteer article.hardware-software-research-legacy h3:before { background-image: url('../../design/search/hardware-software-research-legacy.svg'); }

#volunteer article[data-result="true"] > div,
#volunteer article[data-result="true"] > figure,
#volunteer article[data-result="true"] > p {
	display: inherit;
}

#volunteer article[data-result="false"] > div,
#volunteer article[data-result="false"] > figure,
#volunteer article[data-result="false"] > p {
	display: none;
}

#volunteer article[data-result="false"] > h3 {
	margin: 0px;
	color: #ffffff;
	cursor: pointer;
}

#volunteer article[data-result="false"] > h3:hover {
	margin: 0px;
	color: #ffffff;
	animation: glowing-header 1s ease-in-out infinite;
	cursor: pointer;
}

@keyframes glowing-header {
	0%   { color: #ffffff; }
	50%  { color: #0f99cb; }
	100% { color: #ffffff; }
}



@media print {

	#volunteer {
		display: block;
		position: static;
		margin: 0px;
		padding: 0px;
	}

	#volunteer:before,
	#volunteer:after {
		display: none;
	}

	#volunteer h1 {
		display: block;
		position: static;
		width: 100vw;
		height: 100vh;
		margin: 0px;
		padding: 0px;
		font-size: 64px;
		line-height: 100vh;
		text-align: center;
		vertical-align: middle;
		page-break-before: always;
		page-break-after: always;
	}

	#volunteer article,
	#volunteer article:nth-of-type(even) {
		display: block;
		position: static;
		width: 100vw;
		height: 50vh;
		margin: 0px;
		padding: 0px;
	}

	#volunteer article:nth-of-type(even) {
		page-break-after: always;
	}

	#volunteer div a {
		display: block;
	}

	#volunteer figure a:after {
		display: none;
	}

	#volunteer figure img {
		display: unset;
		width: auto;
		height: 96px;
	}

}



@media screen and (max-width: 740px) {

	#volunteer {
		padding: 0px;
	}

	#volunteer:before,
	#volunteer:after {
		display: none;
	}

	#volunteer article,
	#volunteer article:nth-of-type(even) {
		width: auto;
		margin: 32px 0px;
	}

	#volunteer article samp {
		display: none;
	}

	#volunteer article h3:after {
		display: block;
		content: '';
		clear: both;
	}

	#volunteer figure img {
		width: auto;
		height: 96px;
	}

}

