
section {
	display: block;
	margin: 160px 0px 0px 0px;
	padding: 0px;
}

section h1 {
	display: block;
	margin: 0px;
	padding: 0px;
	font-family: 'museo-sans-500';
	font-size: 40px;
	line-height: 48px;
	font-weight: 500;
	text-align: center;
}

section h1 del {
	color: #252530;
	text-decoration: line-through;
	text-decoration-color: #ffffff;
}

article,
section article {
	font-family: 'museo-sans-300';
	font-size: 16px;
	font-weight: normal;
}

section article {
	display: block;
	width: 608px;
	margin: 32px auto;
	padding: 32px;
	text-align: justify;
	text-justify: inter-word;
	word-break: break-word;
	word-wrap: break-word;
	word-spacing: normal;
	hyphens: auto;
	background: #252530;
	border-radius: 16px;
	box-sizing: border-box;
}

section article h2 {
	position: relative;
	margin: 0px 0px 16px 0px;
	padding: 0px;
	font-family: 'museo-sans-300';
	font-size: 32px;
	font-weight: 300;
	vertical-align: middle;
}

section article h3 {
	position: relative;
	margin: 0px 0px 16px 0px;
	padding: 0px;
	font-family: 'museo-sans-300';
	font-size: 32px;
	font-weight: 300;
	vertical-align: middle;
}

section article div a {
	margin: 0px 16px 0px 0px;
}

section article div a:last-of-type {
	margin: 0px;
}

section a {
	color: #0f99cb;
	text-decoration: none;
}

section a:hover,
section a:focus,
section a:active {
	color: #ffffff;
	text-decoration: underline;
	animation: glowing-link 1s ease-in-out infinite;
	border: 0px solid transparent;
	outline: none;
}

@keyframes glowing-link {
	0%   { color: #ffffff; }
	50%  { color: #0f99cb; }
	100% { color: #ffffff; }
}

section abbr {
	color: inherit;
	text-decoration: underline;
	cursor: help;
}

section article code {
	margin: 0px;
	padding: 0px 8px;
	color: #ffffff;
	background: #151515;
	font-family: 'museo-sans-300';
	font-weight: normal;
	border-radius: 4px;
}

section article del {
	color: #ffffff;
	text-decoration: line-through;
	text-decoration-color: #ffffff;
}

section article p {
	margin: 32px 0px 0px 0px;
	padding: 0px;
}

section article p:first-child {
	margin: 0px;
}

section article pre {
	display: block;
	position: relative;
	margin: 32px -32px 32px -32px;
	padding: 16px;
	color: #ffffff;
	background: #151515;
	font-family: monospace;
	font-weight: normal;
	font-style: normal;
	font-size: 16px;
	tab-size: 4;
	border-radius: 4px;
	overflow: auto;
}

section article pre:last-child {
	margin-bottom: -32px;
	border-bottom-left-radius: 16px;
	border-bottom-right-radius: 16px;
}



@page {
	size: A4 portrait;
	margin: 1cm;
}


@media print {

	section {
		display: block;
		position: static;
		margin: 0px;
		padding: 0px;
		page-break-after: always;
	}

	section.print-not {
		display: none !important;
	}

	section h1 {
		display: block;
		position: static;
		width: 100vw;
		height: 100vh;
		margin: 0px;
		padding: 0px;
		font-size: 64px;
		line-height: 100vh;
		text-align: center;
		vertical-align: middle;
		page-break-before: always;
		page-break-after: always;
	}

	section h1 del {
		text-decoration-color: #cb0f0f;
	}

	section article {
		display: block;
		position: static;
		width: auto;
		margin: 0px;
		padding: 0px;
		text-align: left;
		background: transparent;
		border-radius: 0px;
		break-before: auto;
	}

	section article.print-not,
	section article.print-not:nth-of-type(odd),
	section article.print-not:nth-of-type(even) {
		display: none !important;
	}

	section article h3 {
		margin: 1em 0px 0.5em 0px;
	}

	section a:after {
		display: inline;
		content: "(" attr(href) ")";
		color: #0f99cb;
		margin: 0px 0.25em 0px 0.25em;
	}

	section a[href^="/"]:after {
		content: "(https://cookie.engineer" attr(href) ")";
	}

	section a[href^="projects/"]:after {
		content: "(https://cookie.engineer/" attr(href) ")";
	}

	section article del {
		text-decoration-color: #cb0f0f;
	}

	section article pre,
	section article pre:last-child {
		margin: 32px 0px;
		border-bottom-left-radius: 0px;
		border-bottom-right-radius: 0px;
	}

}



@media screen and (max-width: 740px) {

	section article {
		width: auto;
		margin: 32px 0px;
		padding: 16px;
		border-radius: 4px;
	}

	section article pre {
		margin: 32px -16px 32px -16px;
	}

}

