

body {
	background: var(--main-background);
	transition: all 250ms ease-out;
}

body[data-mode="game"] {
	width: 100%;
	height: 100%;
	background: #000000;
	overflow: hidden;
	transition: all 250ms ease-out;
	cursor: url("./cursor.cur") 16 16, auto;
}

body[data-mode="game"] canvas#consent-game {
	display: block;
	position: fixed;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	z-index: 100;
	background: transparent;
	/* Pointer Events API is used */
	pointer-events: all;
	touch-action: none;
	user-select: none;
}

body[data-mode="game"] figure#avatar > canvas {
	/* Pointer Events API is used */
	pointer-events: none;
	touch-action: none;
	user-select: none;
}

body[data-mode="game"] > header {
	transform: translate(0%, -100%);
	transition: transform 250ms ease-out;
}

body[data-mode="game"] > div > aside {
	transform: translate(-100%, 0%);
	transition: transform 250ms ease-out;
}

body[data-mode="game"] > footer {
	transform: translate(0%, 100%);
	transition: all 250ms ease-out;
}

body > div {
	transition: all 250ms ease-out;
}

body[data-mode="game"] > div {
	position: absolute;
	width: 100vw;
	height: 100vh;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	transition: all 250ms ease-out;
}

body[data-mode="game"] > div > aside.visible + main,
body[data-mode="game"] > div > main {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	overflow: hidden;
	user-select: none;
	pointer-events: none;
	background: transparent;
	z-index: 101;
}

body[data-mode="game"] > div > main article {
	display: none;
}

body[data-mode="game"] > div > main > article[id="results"] {
	display: none;
}

body > div > main > figure#avatar {
	margin: 64px auto 64px auto;
	transition: margin 250ms ease-out;
}

body[data-mode="game"] > div > main > figure#avatar {
	display: block;
	margin: 64px auto 64px 64px;
	position: fixed;
	transition: margin 250ms ease-out;
	z-index: 101;
}

body[data-mode="game"] > div > main > figure#avatar > figcaption {
	display: none;
}

